<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('Role management')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '', '/admin/role/')"></div>



<div th:remove="all">
    <div th:fragment="main">
        <form action="#" th:action="@{/admin/role/}" th:object="${role}" method="post">
            <input type="hidden" th:field="*{roleId}" />
            <label for="groupName">Group name:</label>
            <input type="text" th:field="*{roleName}" />
            <input type="submit" />
        </form>
    </div>
</div>

</html>

