.control_button{
    width: 100%;
    border-radius: 0;
}
.sideFirst{
    border-radius: 5px 5px 0 0;
}
.sideLast{
    border-radius:  0 0 5px 5px;
}
.headFirst{
    border-radius: 5px  0 0 5px;
}
.headLast{
    border-radius:0 5px 5px 0 ;
}