/*При построении новой страницы */
/*Нужно менять только часть Main!!!!!*/
@font-face {
	font-family: MyriadPro;
    src: url("fonts/MyriadPro-Regular.otf");
} 

/*@font-face {*/
	/*font-family: Roboto;*/
    /*src: url("../font/Roboto-Light.ttf");*/
/*}*/
body {
	font-family: MyriadPro, sans-serif;
	background: -webkit-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
	background: -o-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
	background: linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
}
a{
	cursor:pointer;
}
.clearfix::after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	width: 100%;
}
.sideNav .menu-level1 > .active,
.sideNav .menu-level1 > a:hover {
	color: #d90118; /*red*/
}
/*Вставляем иконки*/
.btn-news:before {
	background: url('image/icons.png') -120px 0 no-repeat;
}
.btn-chat:before {
	background: url('image/icons.png') -150px 0 no-repeat;
}
.btn-messages:before {
	background: url('image/icons.png') -180px 0 no-repeat;
}
.btn-we:before {
	background: url('image/icons.png') -210px 0 no-repeat;
}
.btn-our-events:before {
	background: url('image/icons.png') 0 0 no-repeat;
}
.btn-my-events:before{
	background: url('image/icons.png') -30px 0  no-repeat;
}
.btn-my-way:before{
	background: url('image/icons.png') -60px 0  no-repeat;
}
.btn-cabinet:before{
	background: url('image/icons.png') -90px 0  no-repeat;
}

/*icons must be red at hover over the menu item*/

.btn-news:hover:before {
	background: url('image/icons.png') -120px -24px no-repeat;
}
.btn-chat:hover:before {
	background: url('image/icons.png') -150px -24px no-repeat;
}
.btn-messages:hover:before {
	background: url('image/icons.png') -180px -24px no-repeat;
}
.btn-we:hover:before {
	background: url('image/icons.png') -210px -24px no-repeat;
}
.btn-our-events:hover:before {
	background: url('image/icons.png') 0 -25px no-repeat;
}
.btn-my-events:hover:before{
	background: url('image/icons.png') -30px -24px  no-repeat;
}
.btn-my-way:hover:before{
	background: url('image/icons.png') -60px -24px  no-repeat;
}
.btn-cabinet:hover:before{
	background: url('image/icons.png') -90px -23px  no-repeat;
}
.sideNav .menu-level1 .btn-my-way:after {
	content: url('image/blue-arrow.png');
	margin: 0 0 0 9px;
}
.sideNav .menu-level1 .btn-my-way:hover:after {
	content: url('image/red-arrow.png');
}
.sideNav .menu-level2 > a:before{
	content:url('image/black-arrow.png');
	margin-right: 10px;
}
.sideNav .menu-level2 > a:hover:before{
	content: url('image/red-arrow.png');
}
@media screen and (max-width: 360px){
	.wrapper-inner{
		background: -webkit-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		background: -o-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		background: linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		font-family: MyriadPro, sans-serif;
		box-sizing: border-box;
		float: left;
		width: 100%;
		height:100%;
	}
	/*library for sideBar*/
	.side-nav {
		position: fixed;
		width: 300px;
		left: 0;
		top: 0;
		margin: 0;
		/*-webkit-transform: translateX(-100%);*/
		/*transform: translateX(-100%);*/
		/*height: 100%;*/
		height: calc(100% + 60px);
		height: -moz-calc(100%);
		padding-bottom: 60px;
		background-color: #fff;
		z-index: 999;
		overflow-y: auto;
		will-change: transform;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translateX(-105%);
		transform: translateX(-105%);
	}
	.drag-target {
		height: 100%;
		width: 10px;
		position: fixed;
		top: 0;
		z-index: 998;
	}
	/*library for sideBar*/
	/*sideBar*/
	aside .school {
		font-size: 18px;
		margin: 10px 0;
		padding: 5px 0;
		text-align: center;

	}
	aside .peresvit {
		font-size: 30px;
		margin: 10px 0;
		padding: 5px 0;
		text-align: center;
	}
	.sideNav {
		background: -webkit-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		background: -o-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		background: linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		height:100%;
		width:90%;
		/*display:none;*/
		/*margin-bottom:50px;*/
	}

	.sideNav .logo-in-sidebar img{
		width: 56%;
		margin: 12px 28px 0 58px;
	}
	.sideNav .tabs-in-siderbar a{
		display: block;
	}
	.sideNav .menu-level1{
		padding: 0 0 0 0;
	}
	.sideNav .tabs-in-sidebar{
		padding: 19px 0 0 0;
	}
	.sideNav .menu-level1 a{
		border-top: none;
	}
	.sideNav .menu-level1 > a{
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 22px;
		color: #5453c5 ; /*blue*/
		/*border-top: 1px solid #c6c6c6;*/
		padding: 9px 10px 9px 55px;
		position: relative;
		border-top: 1px solid #c6c6c6;
	}
	.sideNav .menu-level1 > a:before{
		content: "";
		margin: 0 10px 0 0 ;
		width: 25px;
		height: 24px;
		position: absolute;
		top: 7px;
		left: 15px;
		display: inline-block;
	}
	.sideNav .menu-level1 .btn-our-events{
		padding: 10px 0 0 55px;
	}
	.sideNav .menu-level1 .btn-our-events:before{
		margin: 0 0 0 1px;
	}
	.sideNav .menu-level1 .btn-my-events {
		padding: 9px 0 0 55px;
		margin-top: 8px;
	}
	.sideNav .menu-level1 .btn-my-events:before{
		margin: 1px 0 0 0;
	}
	.sideNav .menu-level1 .btn-my-way{
		margin: 9px 18px 0 0;
		border-top: 1px solid #c6c6c6;
		padding: 9px 0 0 55px;
	}
	.sideNav .menu-level1 .btn-my-way:before{
		margin:2px 0 0 0;
	}
	.sideNav .menu-level2{
		border-top: 1px solid #c6c6c6;
		margin: 9px 0 0 0;
		padding: 9px 0 0 0;
	}
	.sideNav .menu-level2 a{
		font-size: 16px;
		display: block;
		text-decoration: none;
		text-transform: lowercase;
		text-align: left;
		line-height: 27px;
		color: black;
		border: none;
		background: transparent;
		padding: 2px 10px 0 16px;
	}
	.sideNav .menu-level2 a:hover{
		color:#d90118;
	}
	.sideNav .menu-level2 a:before{
		margin: 2px 7px 0 25px
	}
	.sideNav .menu-level1 .btn-cabinet {
		border-top: 1px solid #c6c6c6;
		padding: 9px 0 0 55px;
		margin: 11px 15px 0 0;
	}
	.sideNav .menu-level1 .btn-cabinet:before{
		margin: -1px 0 0 -1px;
	}
	aside .sponsor-logo-sidebar{
		border-top: 1px solid #c6c6c6;
		margin: 6px 2px 0 0;
		padding-bottom: 32px;
	}
	aside .sponsor-logo-sidebar-text{
		font-size: 16px;
		text-align: center;
		padding: 20px 0 0 0;
	}
	aside .sponsor-logo-sidebar-text a{
		display:block;
		font-size: 14px;
		color: #8180d1;
		margin: 3px 0 0 0;
	}
	aside .sponsor-logo-sidebar img {
		margin: 25px auto 34px;
		display: block;
		width: 65%;
	}
	/*SideBar*/
	/*Wrapper-inner*/

	/*header*/
	header .logo-header-img {
		display: block;
		float: left;
		height: 61px;
		padding: 8px 0 0 16px;
		width: 242px;
	}
	/*header .school {*/
		/*font-family: Roboto sans-serif;*/
		/*font-size: 20px;*/
	/*}*/
	header .logo-header-text {
		float: left;
		text-align: center;
		width: 70%;
	}

	header .peresvit {
		font-size: 30px;
		/*margin: 10px 0;*/
	}
	header .btn-open-menu {
		cursor: pointer;
		float: right;
		font-size: 30px;
		margin: 29px 11px 0 0;
		width: 28px;
	}
	.banner-header {
		padding: 7px 0 9px 13px;
		margin: 15px 7px -15px 8px;
		height: 96px;
		background-color: #dddcde;
		color: #7b7b7b;
		box-sizing: border-box;
		overflow: hidden;
		border-radius: 3px;
	}
	.wrapper-inner .banner-header a{
		color:#0000ff;
		font-size: 16px;
	}
	.banner-header p {
		color:#7b7b7b;
		font-size:14px;
		margin:21px 0 0 1px;
		overflow: hidden;
	}
	.wrapper-inner .banner-header p a{
		font-size:14px;
		color:#7b7b7b;
		display:inline-block;
		padding: 3px 0 0 0;
	}
	/*header*/
	/*Content*/
	.content{
		background:white;
		margin:26px 7px 0 7px;
		box-shadow: 1px 3px 3px 1px rgba(153,153,153,1);
		/*overflow: hidden;*/
		padding-bottom:7px;
	}
	/*nav-path*/
	.nav-path {
		padding:3px 0 0 6px;
		border-bottom: 1px solid #d3d4d5;
		font-size: 14px;
	}
	.nav-path a{
		display: inline-block;
		padding: 8px 1px 5px 1px;
		height: 30px;
		box-sizing: border-box;
		text-decoration: none;
		color: #8180d6;
		text-align: center;
	}
	.nav-path > a:hover {
		border-bottom: 4px solid #0301ad;
		color: #0301ad;
	}
	.nav-path .nav-path-my-way{
		margin:1px 0 0 5px
	}
	.nav-path .slash {
		display: inline-block;
		padding: 4px 1px 5px 1px;
		height: 20px;
		box-sizing: border-box;
		text-decoration: none;
		color: #8180d6;
		text-align: center;
		border:none;
		font-size: 20px;
	}
	.nav-path .nav-path-tech-complex{
		margin-left:3px;
	}
	.tabs-in-main {
		display: none;
	}
	/*nav-path*/
	/*Main*//*Нужно менять только часть Main!!!!!*/

	/*Content*/
	/*footer*/
	footer {
		border-top: 1px solid #fff;
		width: 100%;
		margin: 25px 0 0 0;
		position: relative;
	}
	footer .copyright-footer {
		color:#fff;
		font-size: 14px;
		position: absolute;
		top: 118px;
		left: 22px;
		width: 33%;
	}
	footer .banner-footer {
		color: white;
		float: left;
		height: 60px;
		padding: 9px 0 0 23px;
		width: 70%;
	}
	footer .banner-footer a{
		font-size:15px;
		color: #0301ad;
		/*display: block;*/

	}
	footer .banner-footer p{
		font-size: 14px;
		margin: 20px 0 0 0;
		color:#fff;
	}
	footer .banner-footer p a{
		color:#fff;
		font-size:14px;
	}

	footer .icons-footer {
		float: right;
		width: 50%;
		padding: 42px 2px 0 0;
		margin: 0 0 10px 0 ;
	}
	footer .icons-footer a:first-child{
		display:inline-block;
		margin: 1px 0 0 30px;
	}
	footer .icons-footer a:nth-child(2){
		display:inline-block;
		margin: 0 0 3px 31px;

	}
	footer .icons-footer a:nth-child(2) img{
		margin-bottom: 1px;
	}
	footer .icons-footer a:nth-child(3){
		display:inline-block;
		margin: 0 0 1px 22px;
	}
	/*footer*/
}
@media screen and (min-width: 360px) and (max-width: 767px){
	.wrapper-inner{
		font-family: MyriadPro, sans-serif;
		background: -webkit-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		background: -o-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		background: linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		box-sizing: border-box;
		float: left;
		width: 100%;
		height:100%;
	}
	/*library for sideBar*/
	.side-nav {
		position: fixed;
		width: 200px;
		left: 0;
		top: 0;
		margin: 0;
		/*-webkit-transform: translateX(-100%);*/
		/*transform: translateX(-100%);*/
		/*height: 100%;*/
		height: calc(100% + 60px);
		height: -moz-calc(100%);
		padding-bottom: 60px;
		background-color: #fff;
		z-index: 999;
		overflow-y: auto;
		will-change: transform;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translateX(-105%);
		transform: translateX(-105%);
	}
	.drag-target {
		height: 100%;
		width: 15px;
		position: fixed;
		top: 0;
		z-index: 998;
	}
	/*library for sideBar*/
	/*SideBar*/
	aside .school {
		font-size: 18px;
		margin: 10px 0;
		padding: 5px 0;
		text-align: center;

	}
	aside .peresvit {
		font-size: 30px;
		margin: 10px 0;
		padding: 5px 0;
		text-align: center;
	}
	.sideNav {
		background: -webkit-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		background: -o-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		background: linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%);
		height:100%;
		width:85%;
		/*margin-bottom:50px;*/
	}

	.sideNav .logo-in-sidebar img{
		width: 56%;
		margin: 12px 31px 0 68px;
	}
	.sideNav .tabs-in-siderbar a{
		display: block;
	}
	.sideNav .menu-level1{
		padding: 0 0 0 0;
	}
	.sideNav .tabs-in-sidebar{
		padding: 22px 0 0 0;
	}
	.sideNav .menu-level1 a{
		border-top: none;
	}
	.sideNav .menu-level1 > a{
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 27px;
		color: #5453c5 ; /*blue*/
		/*border-top: 1px solid #c6c6c6;*/
		padding: 9px 10px 9px 65px;
		position: relative;
		border-top: 1px solid #c6c6c6;
		font-size: 17px;
	}
	.sideNav .menu-level1 > a:before{
		content: "";
		margin: 0 10px 0 0 ;
		width: 25px;
		height: 24px;
		position: absolute;
		top: 11px;
		left: 23px;
		display: inline-block;
	}
	.sideNav .menu-level1 .btn-our-events{
		padding: 8px 0 0 64px;
	}
	.sideNav .menu-level1 .btn-our-events:before{
		margin: 0 0 0 1px;
	}
	.sideNav .menu-level1 .btn-my-events {
		padding: 8px 0 0 66px;
		margin-top: 8px;
	}
	.sideNav .menu-level1 .btn-my-events:before{
		margin: 2px 0 0 1px;
	}
	.sideNav .menu-level1 .btn-my-way{
		margin: 10px 0 0 0;
		border-top: 1px solid #c6c6c6;
		padding: 9px 0 0 66px;
	}
	.sideNav .menu-level1 .btn-my-way:before{
		margin:3px 0 0 1px;
	}
	.sideNav .menu-level2{
		border-top: 1px solid #c6c6c6;
		margin: 9px 0 0 0;
		padding: 12px 0 0 4px;
	}
	.sideNav .menu-level2 a{
		font-size: 17px;
		display: block;
		text-decoration: none;
		text-transform: lowercase;
		text-align: left;
		line-height: 29px;
		color: black;
		border: none;
		background: transparent;
		padding: 2px 10px 0 22px;
	}
	.sideNav .menu-level2 a:hover{
		color:#d90118;
	}
	.sideNav .menu-level2 a:before{
		margin: 2px 7px 0 25px
	}
	.sideNav .menu-level1 .btn-cabinet {
		border-top: 1px solid #c6c6c6;
		padding: 9px 0 0 66px;
		margin: 19px 0 0 0;
	}
	.sideNav .menu-level1 .btn-cabinet:before{
		margin: 0 0 0 -1px;
	}
	aside .sponsor-logo-sidebar{
		border-top: 1px solid #c6c6c6;
		margin: 8px 0 0 0;
	}
	aside .sponsor-logo-sidebar-text{
		font-size: 16px;
		text-align: center;
		padding: 20px 7px 0 0;
	}
	aside .sponsor-logo-sidebar-text a{
		display:block;
		font-size: 14px;
		color: #8180d1;
		margin: 3px 0 0 0;
	}
	aside .sponsor-logo-sidebar img {
		display: block;
		margin: 22px auto 40px;
		width: 63%;
	}
	/*SideBar*/
	/*Wrapper-inner*/
	.wrapper-inner {
		float: left;
		width: 100%;
		/*margin: 10px auto;*/
		/*height:100%;*/
		padding:5px 7px;
	}
	/*header*/
	header .logo-header-img {
		display: block;
		float: left;
		padding: 2px 0 0 13px;
		width: 77%;
		height: 100%;
	}
	/*header .school {*/
	/*font-family: Roboto sans-serif;*/
	/*font-size: 20px;*/
	/*}*/
	header .logo-header-text {
		float: left;
		text-align: center;
		width: 70%;
	}

	header .peresvit {
		font-size: 30px;
		/*margin: 10px 0;*/
	}
	header .btn-open-menu {
		cursor: pointer;
		float: right;
		font-size: 30px;
		margin:40px 6px 0 0;
		width: 30px;
	}
	.banner-header {
		padding: 10px 25px 9px 17px;
		line-height: 16px;
		margin: 18px 4px 0 3px;
		height: 108px;
		background-color: #dddcde;
		color: #7b7b7b;
		box-sizing: border-box;
		overflow: hidden;
		border-radius: 1px;
	}
	.wrapper-inner .banner-header a{
		color:#0000ff;
		font-size: 16px;
	}
	.banner-header p {
		color:#7b7b7b;
		font-size:14px;
		margin:22px 0 0 1px;
		overflow: hidden;
	}
	.wrapper-inner .banner-header p a{
		font-size:14px;
		color:#7b7b7b;
		display:inline-block;
		padding: 3px 0 0 0;
	}
	/*header*/
	/*Content*/
	.content{
		background:white;
		margin:11px 4px 0 2px;
		box-shadow: 1px 3px 3px 1px rgba(153,153,153,1);
		/*overflow: hidden;*/
		padding-bottom:10px;
	}
	/*nav-path*/
	.nav-path {
		padding:4px 0 6px 9px;
		border-bottom: 1px solid #d3d4d5;
		font-size: 16px;
	}
	.nav-path a{
		display: inline-block;
		padding: 8px 1px 5px 1px;
		height: 30px;
		box-sizing: border-box;
		text-decoration: none;
		color: #8180d6;
		text-align: center;
	}
	.nav-path > a:hover {
		border-bottom: 4px solid #0301ad;
		color: #0301ad;
	}
	.nav-path .nav-path-my-way{
		margin:1px 0 0 5px
	}
	.nav-path .slash {
		display: inline-block;
		padding: 4px 1px 5px 1px;
		height: 20px;
		box-sizing: border-box;
		text-decoration: none;
		color: #8180d6;
		text-align: center;
		border:none;
		font-size: 22px;
	}
	.nav-path .nav-path-tech-complex{
		margin-left:3px;
	}
	.tabs-in-main {
		display: none;
	}
	/*nav-path*/
	/*Content*/
	/*footer*/
	footer {
		border-top: 1px solid #fff;
		width: 100%;
		margin: 28px 0 0 0;
		position: relative;
	}
	footer .copyright-footer {
		color:#fff;
		font-size: 17px;
		position: absolute;
		top: 128px;
		left: 17px;
		width: 40%;
	}
	footer .banner-footer {
		color: white;
		float: left;
		height: 60px;
		padding: 11px 0 0 19px;
		width: 80%;
	}
	footer .banner-footer a{
		font-size:18px;
		color: #0301ad;
		/*display: block;*/

	}
	footer .banner-footer p{
		font-size: 16px;
		margin: 22px 0 0 0;
		color:#fff;
	}
	footer .banner-footer p a{
		color:#fff;
		font-size:14px;
	}

	footer .icons-footer {
		float: right;
		width: 45%;
		padding: 52px 18px 0 0;
		margin: 0 0 10px 0;
	}
	footer .icons-footer a:first-child{
		display:inline-block;
		margin: 1px 0 0 30px;
	}
	footer .icons-footer a:nth-child(2){
		display:inline-block;
		margin: 0 0 3px 37px;

	}
	footer .icons-footer a:nth-child(2) img{
		margin-bottom: 1px;
	}
	footer .icons-footer a:nth-child(3){
		display:inline-block;
		margin: 0 0 1px 26px;
	}
	/*footer*/
}
@media screen and (min-width: 1024px) {

	body {
		font-family: MyriadPro, sans-serif;
		background: -webkit-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%) no-repeat;
		background: -o-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%) no-repeat;
		background: linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%) no-repeat;
		/*height: 100%;*/
	}
	.wrapper{
		min-height: 100%;
	}
	.wrapper-outer {
		min-height: 100%;
		width: 84%;
		margin: 0 auto;
		height: auto;
		position:relative;
	}
	/*SideBar*/
	.sideNav {
		display: block;
		height:100%;
		float: left;
		width:28%;
		margin-bottom: 140px;
	}

	.sideNav .logo-in-sidebar img{
		width: 83%;
		padding: 26px 0 5px 36px;
		border: none;
	}
	.sideNav .tabs-in-sidebar {
		display: none;
	}
	.sideNav .menu-level1{
		padding: 11px 0 0 34px;
	}
	.sideNav .menu-level1 a{
		border-top: none;
	}
	.sideNav .menu-level1 > a{
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 23px;
		color: #5453c5 ; /*blue*/
		/*border-top: 1px solid #c6c6c6;*/
		padding: 6px 10px 0 55px;
		position: relative;
	}
	.sideNav .menu-level1 > a:before{
		content: "";
		margin: 0 10px 0 0 ;
		width: 25px;
		height: 24px;
		position: absolute;
		top: 10px;
		left: 0;
		display: inline-block;
	}
	.sideNav .menu-level1 .btn-our-events{
		padding: 10px 0 0 55px;
	}
	.sideNav .menu-level1 .btn-our-events:before{
		margin: 0 0 0 15px;
	}
	.sideNav .menu-level1 .btn-my-events {
		padding: 11px 0 0 55px;
		margin-top: -4px;
	}
	.sideNav .menu-level1 .btn-my-events:before{
		margin: 0 0 0 15px;
	}
	.sideNav .menu-level1 .btn-my-way{
		margin: 18px 15px 0 17px;
		border-top: 1px solid #c6c6c6;
		padding: 18px 0 0 38px;
	}
	.sideNav .menu-level1 .btn-my-way:before{
		margin:5px 0 0 -4px;
	}
	.sideNav .menu-level2{
		margin: 5px 0 0 2px;
	}
	.sideNav .menu-level2 a{
		font-size: 16px;
		display: block;
		text-decoration: none;
		text-transform: lowercase;
		text-align: left;
		line-height: 30px;
		color: black;
		border: none;
		background: transparent;
		padding: 0 10px 0 30px;
	}
	.sideNav .menu-level2 a:hover{
		color:#d90118;
	}
	.sideNav .menu-level2 a:before{
		margin: 2px 7px 0 25px
	}
	.sideNav .menu-level1 .btn-cabinet {
		border-top: 1px solid #c6c6c6;
		padding: 18px 0 0 39px;
		margin: 12px 15px 0 17px;
	}
	.sideNav .menu-level1 .btn-cabinet:before{
		margin: 9px 0 0 -4px;
	}
	aside .sponsor-logo-sidebar{
		border-top: 1px solid #c6c6c6;
		margin: 22px 15px 0 52px;
	}
	aside .sponsor-logo-sidebar-text{
		font-size: 16px;
		text-align: center;
		padding: 32px 0 0 0;
	}
	aside .sponsor-logo-sidebar-text a{
		display:block;
		font-size: 14px;
		color: #8180d1;
		margin: 3px 0 0 0;
	}
	aside .sponsor-logo-sidebar img {
		margin: 9px 0 0 31px;
		display: block;
	}
	/*SideBar*/
	/*Wrapper-inner*/
	.wrapper-inner {
		float: left;
		width: 70%;
		margin: 10px auto;
		height:100%;
	}
	/*header*/
	.banner-header {
		padding: 20px 0 0 28px;
		margin: 18px 40px 0 23px;
		height: 92px;
		background-color: #dddcde;
		color: #7b7b7b;
		box-sizing: border-box;
		overflow: hidden;
		border-radius:3px;
	}
	.wrapper-inner .banner-header a{
		color:#0000ff;
		font-size: 16px;
	}
	.banner-header p {
		color:#7b7b7b;
		font-size:14px;
		margin-top: 2px;
		overflow: hidden;
	}
	.wrapper-inner .banner-header p a{
		font-size:14px;
		color:#7b7b7b;
		display:inline-block;
		padding: 3px 0 0 0;
	}
	/*header*/
	/*Content*/
	.content{
		background:white;
		margin:32px 25px 0 6px;
		box-shadow: 1px 3px 3px 1px rgba(153,153,153,1);
		/*overflow: hidden;*/
		padding-bottom:28px;
	}
	/*tabs-in-main*/
	.tabs-in-main {
		padding:3px 0 0 7px;
		border-bottom: 1px solid #d3d4d5;
	}
	.tabs-in-main a{
		display: inline-block;
		padding: 23px 20px 20px 20px;
		height: 58px;
		box-sizing: border-box;
		text-decoration: none;
		color: #8180d6;
		text-align: center;
	}
	.tabs-in-main > a:hover {
		border-bottom: 4px solid #0301ad;
		color: #0301ad;
	}
	.tabs-in-main .tab-news {
		margin-left:  44px;
	}
	.tabs-in-main .tab-chat{
		margin-left:2px;
	}
	.tabs-in-main .tab-messages{
		margin-left:4px;
	}
	.tabs-in-main .tab-we{
		margin-left:4px;
	}
	/*.tabs-in-main .nav-path {*/
		/*display: none;*/
	/*}*/
	.nav-path{
		display:none;
	}
	/*tabs-in-main*/
	/*Content*/
	/*8********************8*/
	header .logo-header-bar {
		display: none;
	}
	.logo-in-header {
		display: none;
	}
	/*footer*/
	footer {
		border-top: 1px solid #fff;
		width: 93%;
		position: absolute;
		left: 2.7%;
		bottom: -2px;
	}
	footer .copyright-footer {
		color:#fff;
		float:left;
		font-size: 14px;
		margin: 17px 0 0 0;
		width:20%;
		padding: 15px 0 0 21px;
	}
	footer .banner-footer {
		color: white;
		float: left;
		height: 60px;
		padding: 20px 0 0 76px;
		width: 50%;
	}
	footer .banner-footer a{
		font-size:16px;
		color: #0301ad;
		/*display: block;*/

	}
	footer .banner-footer p{
		font-size: 14px;
		margin:3px 0 0 0;
		color:#fff;
	}
	footer .banner-footer p a{
		color:#fff;
		font-size:14px;
	}

	footer .icons-footer {
		float:left;
		width: 20%;
		margin: 28px 0 0 0;
	}
	footer .icons-footer a:first-child{
		display:inline-block;
		margin: 1px 0 0 16px;
	}
	footer .icons-footer a:nth-child(2){
		display:inline-block;
		margin: 0 0 3px 33px;

	}
	footer .icons-footer a:nth-child(2) img{
		margin-bottom: 1px;
	}
	footer .icons-footer a:nth-child(3){
		display:inline-block;
		margin: 0 0 1px 25px;
	}
	/*footer*/
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

	body {
		font-family: MyriadPro, sans-serif;
		background: -webkit-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%) no-repeat;
		background: -o-linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%) no-repeat;
		background: linear-gradient(rgba(177,178,181,1) 0%, rgba(250,250,250,1) 49%, rgba(250,250,250,1) 50%, rgba(177,178,181,1) 100%) no-repeat;

	}
	.wrapper{
		min-height: 100%;
	}
	.wrapper-outer {
		min-height: 100%;
		width: 100%;
		margin: 0 auto;
		height: auto;
		position:relative;
	}
	/*SideBar*/
	.sideNav {
		display: block;
		height:100%;
		float: left;
		width:28%;
		margin-bottom: 140px;
	}

	.sideNav .logo-in-sidebar img{
		width: 83%;
		padding: 26px 0 5px 30px;
		border: none;
	}
	.sideNav .tabs-in-sidebar {
		display: none;
	}
	.sideNav .menu-level1{
		padding: 5px 0 0 12px;
	}
	.sideNav .menu-level1 a{
		border-top: none;
	}
	.sideNav .menu-level1 > a{
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 23px;
		color: #5453c5 ; /*blue*/
		/*border-top: 1px solid #c6c6c6;*/
		padding: 6px 10px 0 55px;
		position: relative;
	}
	.sideNav .menu-level1 > a:before{
		content: "";
		margin: 0 10px 0 0 ;
		width: 25px;
		height: 24px;
		position: absolute;
		top: 10px;
		left: 0;
		display: inline-block;
	}
	.sideNav .menu-level1 .btn-our-events{
		padding: 10px 0 0 55px;
	}
	.sideNav .menu-level1 .btn-our-events:before{
		margin: 0 0 0 15px;
	}
	.sideNav .menu-level1 .btn-my-events {
		padding: 11px 0 0 55px;
		margin-top: -4px;
	}
	.sideNav .menu-level1 .btn-my-events:before{
		margin: 0 0 0 15px;
	}
	.sideNav .menu-level1 .btn-my-way{
		margin: 18px 15px 0 17px;
		border-top: 1px solid #c6c6c6;
		padding: 18px 0 0 38px;
	}
	.sideNav .menu-level1 .btn-my-way:before{
		margin:5px 0 0 -4px;
	}
	.sideNav .menu-level2{
		margin: 5px 0 0 2px;
	}
	.sideNav .menu-level2 a{
		font-size: 15px;
		display: block;
		text-decoration: none;
		text-transform: lowercase;
		text-align: left;
		line-height: 30px;
		color: black;
		border: none;
		background: transparent;
		padding: 0 10px 0 0;
	}
	.sideNav .menu-level2 a:hover{
		color:#d90118;
	}
	.sideNav .menu-level2 a:before{
		margin: 2px 7px 0 13px
	}
	.sideNav .menu-level1 .btn-cabinet {
		border-top: 1px solid #c6c6c6;
		padding: 18px 0 0 39px;
		margin: 12px 15px 0 17px;
	}
	.sideNav .menu-level1 .btn-cabinet:before{
		margin: 9px 0 0 -4px;
	}
	aside .sponsor-logo-sidebar{
		border-top: 1px solid #c6c6c6;
		margin: 22px 15px 0 29px;
	}
	aside .sponsor-logo-sidebar-text{
		font-size: 16px;
		text-align: center;
		padding: 32px 0 0 0;
	}
	aside .sponsor-logo-sidebar-text a{
		display:block;
		font-size: 14px;
		color: #8180d1;
		margin: 3px 0 0 0;
	}
	aside .sponsor-logo-sidebar img {
		margin: 9px 0 0 -8px;
		display: block;
	}
	/*SideBar*/
	/*Wrapper-inner*/
	.wrapper-inner {
		float: left;
		width: 70%;
		margin: 10px auto;
		height:100%;
	}
	/*header*/
	.banner-header {
		padding: 20px 0 0 28px;
		margin: 18px 40px 0 23px;
		height: 92px;
		background-color: #dddcde;
		color: #7b7b7b;
		box-sizing: border-box;
		overflow: hidden;
		border-radius:3px;
	}
	.wrapper-inner .banner-header a{
		color:#0000ff;
		font-size: 16px;
	}
	.banner-header p {
		color:#7b7b7b;
		font-size:14px;
		margin-top: 2px;
		overflow: hidden;
	}
	.wrapper-inner .banner-header p a{
		font-size:14px;
		color:#7b7b7b;
		display:inline-block;
		padding: 3px 0 0 0;
	}
	/*header*/
	/*Content*/
	.content{
		background:white;
		margin:32px 10px 90px 6px;
		box-shadow: 1px 3px 3px 1px rgba(153,153,153,1);
		/*overflow: hidden;*/
		padding-bottom:28px;
	}
	/*tabs-in-main*/
	.tabs-in-main {
		padding:3px 33px 0 33px;
		border-bottom: 1px solid #d3d4d5;
	}
	.tabs-in-main a{
		display: inline-block;
		padding: 23px 20px 20px 20px;
		height: 58px;
		box-sizing: border-box;
		text-decoration: none;
		color: #8180d6;
		text-align: center;
	}
	.tabs-in-main > a:hover {
		border-bottom: 4px solid #0301ad;
		color: #0301ad;
	}
	.tabs-in-main .tab-news {
		margin-left: 0;
	}
	.tabs-in-main .tab-chat{
		margin-left:2px;
	}
	.tabs-in-main .tab-messages{
		margin-left:4px;
	}
	.tabs-in-main .tab-we{
		margin-left:4px;
	}
	.tabs-in-main .nav-path {
		display: none;
	}
	.nav-path{
		display:none;
	}
	/*tabs-in-main*/
	/*Content*/
	/*8********************8*/
	header .logo-header-bar {
		display: none;
	}
	.logo-in-header {
		display: none;
	}
	/*footer*/
	footer {
		border-top: 1px solid #fff;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	footer .copyright-footer {
		color:#fff;
		float:left;
		font-size: 16px;
		margin: 17px 0 0 0;
		width:20%;
		padding: 15px 0 0 21px;
	}
	footer .banner-footer {
		color: white;
		float: left;
		height: 60px;
		padding: 20px 0 0 55px;
		width: 46%;
	}
	footer .banner-footer a{
		font-size:16px;
		color: #0301ad;
		/*display: block;*/

	}
	footer .banner-footer p{
		font-size: 14px;
		margin:3px 0 0 0;
		color:#fff;
	}
	footer .banner-footer p a{
		color:#fff;
		font-size:14px;
	}

	footer .icons-footer {
		float:left;
		width: 20%;
		margin: 28px 0 0 25px;
	}
	footer .icons-footer a:first-child{
		display:inline-block;
		margin: 1px 0 0 16px;
	}
	footer .icons-footer a:nth-child(2){
		display:inline-block;
		margin: 0 0 3px 20px;

	}
	/*footer .icons-footer a:nth-child(2) img{*/
		/*margin-bottom: 1px;*/
	/*}*/
	footer .icons-footer a:nth-child(3){
		display:inline-block;
		margin: 0 0 1px 20px;
	}
	/*footer*/
}

/*Нужно менять только часть Main!!!!!*/
/*Main для разных экранов*/
@media screen and (max-width: 360px){
	main {
		margin: 0 10px 6px 9px;
		padding: 0;
	}

	main p{
		margin: 5px 0 14px 5px;
		/*line-height: 16px;*/
	}
	main p.level1-active{
		margin: 27px 0 0 5px;
		line-height: 18px;
	}
	main .level1-active>a.level1{
		line-height: 18px;
		color: #d90118;
		border-bottom: 2px dotted #d90118;
	}
	main .main-article-item ol {
		counter-reset:li; /* Initiate a counter */
		/*margin-left:0; !* Remove the default left margin *!*/
		padding: 9px 0 10px 0;
		margin: 8px 2px 5px 4px;
		/*margin-bottom: 5px;*/
		background: #fafafa;
	}

	main .main-article-item ol li{
		margin: 0 4px 0 11px;
		list-style: none;
		line-height: 22px;
		font-size:14px;
	}

	main .main-article-item ol li:before {
		content:counter(li); /* Use the counter as content */
		counter-increment:li; /* Increment the counter by 1 */
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		width:30px;
		height: 30px;
		margin: 16px 9px 0 0;
		color:#fff;
		background:#7e7dd3;
		text-align:center;
		border-radius: 20px;
		padding: 3px 8px 2px 7px;
	}
	a.level1:link, a.level1:visited {
		color: #0301ad;
		font-size: 15px;
		text-decoration: none;
		border-bottom: 2px dotted #0301ad;
		line-height: 18px;
	}
	a.level1:hover, a.level1:active{
		color: #d90118;
		border-bottom: 2px dotted #d90118;
	}
	a.level2{
		display:inline-block;
		margin: 1px 0 0 1px;
	}
	a.level2:link, a.level2:visited {
		color: black;
		text-decoration: none;
	}

	a.level2:hover, a.level2:active{
		color:  #0301ad;
		text-decoration: underline;

	}
}
@media screen and (min-width: 360px) and (max-width: 767px){
	/*Main*//*Нужно менять только часть Main!!!!!*/
	main {
		margin: 7px 0 14px 7px;
		padding: 0;
	}

	main p{
		margin: 8px 0 11px 9px;
		/*line-height: 16px;*/
	}
	main p.level1-active{
		margin: 29px 0 0 9px;
		line-height: 22px;
	}
	main .level1-active>a.level1{
		line-height: 18px;
		color: #d90118;
		border-bottom: 2px dotted #d90118;
	}
	main .main-article-item ol {
		counter-reset:li; /* Initiate a counter */
		/*margin-left:0; !* Remove the default left margin *!*/
		padding: 9px 0 10px 0;
		margin: 8px 2px 5px 4px;
		/*margin-bottom: 5px;*/
		background: #fafafa;
	}

	main .main-article-item ol li{
		margin: 4px 4px 0 16px;
		list-style: none;
		line-height: 20px;
		font-size:16px;
	}

	main .main-article-item ol li:before {
		content:counter(li); /* Use the counter as content */
		counter-increment:li; /* Increment the counter by 1 */
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		width:30px;
		height: 30px;
		margin: 7px 13px 0 0;
		color:#fff;
		background:#7e7dd3;
		text-align:center;
		border-radius: 20px;
		padding: 3px 8px 2px 7px;
	}
	a.level1:link, a.level1:visited {
		color: #0301ad;
		font-size: 17px;
		text-decoration: none;
		border-bottom: 2px dotted #0301ad;
		line-height: 22px;
	}
	a.level1:hover, a.level1:active{
		color: #d90118;
		border-bottom: 2px dotted #d90118;
	}
	a.level2{
		display:inline-block;
		margin: 1px 0 0 1px;
	}
	a.level2:link, a.level2:visited {
		color: black;
		text-decoration: none;
	}

	a.level2:hover, a.level2:active{
		color:  #0301ad;
		text-decoration: underline;

	}
	/*Нужно менять только часть Main!!!!!*/
	/*Main*/
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	/*Main*/
	/*Нужно менять только часть Main!!!!!*/
	main {
		margin: 0 10px 10px 10px;
		padding: 19px 24px 0 23px;
	}

	main  p{
		margin: 18px 0 20px 5px;
		/*line-height: 16px;*/

	}
	main p.level1-active{
		margin: 18px 0 0 5px;
	}
	main .level1-active>a.level1{
		color: #d90118;
		border-bottom: 2px dotted #d90118;
	}
	main .main-article-item ol {
		counter-reset:li; /* Initiate a counter */
		/*margin-left:0; !* Remove the default left margin *!*/
		padding: 9px 0 14px 0;
		margin: 8px 58px 5px 0;
		/*margin-bottom: 5px;*/
		background: #fafafa;
	}


	main .main-article-item ol li{
		margin: 0 4px 0 25px;
		/*padding: -1px 3px 0 17px; !* Add some spacing around the content *!*/
		list-style:none; /* Disable the normal item numbering */
		line-height: 29px;
	}

	main .main-article-item ol li:before {
		content:counter(li); /* Use the counter as content */
		counter-increment:li; /* Increment the counter by 1 */
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		width:30px;
		height: 30px;
		margin: 16px 9px 0 0;
		color:#fff;
		background:#7e7dd3;
		text-align:center;
		border-radius: 20px;
		padding: 4px 10px 4px 9px;
	}
	a.level1:link, a.level1:visited {
		color: #0301ad;
		font-size: 18px;
		text-decoration: none;
		border-bottom: 2px dotted #0301ad;
	}
	a.level1:hover, a.level1:active{
		color: #d90118;
		border-bottom: 2px dotted #d90118;
	}
	a.level2{
		display:inline-block;
		margin: 1px 0 0 1px;
	}
	a.level2:link, a.level2:visited {
		color: black;
		text-decoration: none;
	}

	a.level2:hover, a.level2:active{
		color:  #0301ad;
		text-decoration: underline;

	}
	/*Нужно менять только часть Main!!!!!*/
	/*Main*/
}
@media screen and (min-width: 1024px){
	/*Main*/
	/*Нужно менять только часть Main!!!!!*/
	main {
		margin: 0 10px 10px 10px;
		padding: 19px 0 0 54px;
	}

	main  p{
		margin: 18px 0 20px 0;
		/*line-height: 16px;*/

	}
	main p.level1-active{
		margin: 18px 0 0 0;
	}
	main .level1-active>a.level1{
		color: #d90118;
		border-bottom: 2px dotted #d90118;
	}
	main .main-article-item ol {
		counter-reset:li; /* Initiate a counter */
		/*margin-left:0; !* Remove the default left margin *!*/
		padding: 9px 0 14px 0;
		margin: 8px 58px 5px 0;
		/*margin-bottom: 5px;*/
		background: #fafafa;
	}


	main .main-article-item ol li{
		margin: 0 4px 0 25px;
		/*padding: -1px 3px 0 17px; !* Add some spacing around the content *!*/
		list-style:none; /* Disable the normal item numbering */
		line-height: 29px;
	}

	main .main-article-item ol li:before {
		content:counter(li); /* Use the counter as content */
		counter-increment:li; /* Increment the counter by 1 */
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		width:30px;
		height: 30px;
		margin: 16px 9px 0 0;
		color:#fff;
		background:#7e7dd3;
		text-align:center;
		border-radius: 20px;
		padding: 4px 10px 4px 9px;
	}
	a.level1:link, a.level1:visited {
		color: #0301ad;
		font-size: 18px;
		text-decoration: none;
		border-bottom: 2px dotted #0301ad;
	}
	a.level1:hover, a.level1:active{
		color: #d90118;
		border-bottom: 2px dotted #d90118;
	}
	a.level2{
		display:inline-block;
		margin: 1px 0 0 1px;
	}
	a.level2:link, a.level2:visited {
		color: black;
		text-decoration: none;
	}

	a.level2:hover, a.level2:active{
		color:  #0301ad;
		text-decoration: underline;

	}
	/*Нужно менять только часть Main!!!!!*/
	/*Main*/
}