<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyWay</title>
</head>
<body>
<a th:href="@{/resource/BASE_TECHNIQUE}" >Базова техніка</a>
<br/>
<a th:href="@{/resource/BASE_TECH_COMPLEX}" >Базова техкомлекс</a>
<br/>
<a th:href="@{/resource/SPECIAL_PHYSICAL_TRAININGS}" >Базові фізичні вправи</a>
<br/>
<a th:href="@{/resource/GENERAL_PHYSICAL_TRAININGS}" >Спеціальні фізичні вправи </a>
<br/>
<a th:href="@{/resource/ANOTHER_SUBJECTS}" >Інші  предметі</a>
<br/>
</body>
</html>