<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyWay</title>
    <link rel="stylesheet" href="/resources/frontend/libraries/bootstrap.css">
    <link rel="stylesheet" href="/resources/frontend/workField/css/workField.css">
    <link rel="stylesheet" href="/resources/frontend/workField/css/privateOffice.css">
    <script src="/resources/frontend/libraries/jquery-2.2.4.min.js"></script>
    <script src="/resources/frontend/libraries/constants.js"></script>


</head>
<body>
<div class="container-fluid wrapper">
    <div class="row header">
        <div class="col-xs-8 col-md-offset-4 h4 header_commercial">Гугл реклама</div>
        <div class="col-xs-3 h2 header_logo"><img class='header_logo_img'
                                                  src="/resources/frontend/workField/images/logo_Peresvit.png"
                                                  alt="логотип"></div>
        <div class="col-xs-8  row header_nav">
            <div th:replace="home/fragments/headBar :: headBar"></div>
            <!--Сюда вставляем данные с верхнего бара fragments/headBar.html-->
        </div>
    </div>
    <div class="row main">
        <div class="col-xs-3 container main_sidebar">
            <!--Сюда вставляем боковой бар fragments/sideBar.html-->

            <div class="place_for_add_sidebar col-xs-12 row">
                <!--Сюда вставляем наш дополнительный сайдбар если юзер нажал на кнопку "мій шлях"
            который лежит в myWay/myWaySidebar.html-->
                <div th:replace="home/fragments/sideBar :: sideBar"></div>
            </div>
        </div>

        <div class=" col-xs-7 row well container-fluid main_section">
            <!--Сюда вставляем содержимое страниц в соответствии с нажатыми кнопками-->
            <ul id="mylist"  th:each=" resourceGroupType : ${resourceGroupTypeList}">
                <b><span th:text="${resourceGroupType.groupName}">Test</span></b>
                <span th:each="chapter :  ${resourceGroupType.chapterList}">
</br>
                    <span th:text="${chapter.chapterName}" th:href="@{/resource/article/} + ${chapter.chapterId}"></span>
                    </br>
                    <span th:unless="${#lists.isEmpty(chapter.articleCollection)}" th:each="article : ${chapter.articleCollection}">
                        <a th:href="@{/resource/article/} + ${article.articleId}" th:text="${article.articleName}" >Перейти к статье</a>
                    </span>
                </span>
            </ul>
    </div>

    <footer>
        <div class="row container-fluid">
            <div class="col-xs-6 col-md-8 col-md-offset-2 footer_commercial">Гугл реклама</div>
            <div class="col-xs-2 col-md-2 row">
                <img src="/resources/frontend/workField/images/Logovk.png" alt="vk">
                <img src="/resources/frontend/workField/images/Logofc.png" alt="fs">
                <img src="/resources/frontend/workField/images/Logoin.png" alt="instagram">
            </div>
        </div>
    </footer>
</div>
</div>

</body>
</html>