<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyWay</title>
</head>
<body>
<ul id="mylist" th:each=" resourceGroupType : ${resourceGroupTypeList}">
    <b><span th:text="${resourceGroupType.groupName}">Test</span></b>
    <span th:each="chapter :  ${resourceGroupType.chapterList}">
            </br>
        <span th:text="${chapter.chapterName}" th:href="@{/resource/article/} + ${chapter.chapterId}"></span>
        </br>
        <span th:unless="${#lists.isEmpty(chapter.articleCollection)}" th:each="article : ${chapter.articleCollection}">
            <a th:href="@{/resource/article/} + ${article.articleId}" th:text="${article.articleName}" >Перейти к статье</a>

        </span>
    </span>
</ul>
<br/>
</body>
</html>