<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Rang</title>
</head>
<body>
    <a th:href="@{/admin/user/management}" >User Management</a>
    <br/>
    <form action="#" th:action="@{/admin/user/}" th:object="${user}" enctype="multipart/form-data" method="post">
        <input type="hidden" th:field="*{userId}" />
        <input type="hidden" th:field="*{enabled}" />

        <input type="text" th:field="*{firstName}" placeholder="firstName" /><br/>
        <input type="text" th:field="*{lastName}" placeholder="lastName" /><br/>
        <input type="text" th:field="*{middleName}" placeholder="middleName" /><br/>
        <input type="text" th:field="*{email}" placeholder="email" /><br/>
        <input type="text" th:field="*{password}" placeholder="password" /><br/>     
 		<input type="file" name="file" /><br/>       
        <input type="text" th:field="*{rang.rangId}" placeholder="rang ID"/><br/>
        
		<br/> User info <br/>
	    <tr th:each="userInfo, rowStat : *{userInfoList}">
	    	<input type="hidden" th:field="*{userInfoList[__${rowStat.index}__].userInfoId}" />
	    	<input type="hidden" th:field="*{userInfoList[__${rowStat.index}__].infoName}" />
	        <input type="text" 	 th:field="*{userInfoList[__${rowStat.index}__].infoValue}" th:placeholder="*{userInfoList[__${rowStat.index}__].infoName}"/><br/>
	    </tr><br/>
                    				
		<input type="submit" />
    </form>      
</body>
</html>