.place_for_add_sidebar .add_sidebar{
    padding:0 0 0 15px;
    /*width:100%;*/
}
.my_way_sidebar_group_button{
    padding-left: 10% ;
    text-align: left;
    border: 1px solid #1b6f8c;
    color: #fff;
    background: #0a3f51;
}
.my_way_sidebar_group_button:hover{
    background: #1b6f8c;
    color:#fff;
}
/*.my_way_sidebar_group_button:focus{*/
    /*background: #15566d;*/
/*}*/
.active,
.active:hover,
.active:focus{
    color: #fff;
    background: #15566d;
    /*border: 1px solid #0a3f51;*/
}
.no_active{
    background: #0a3f51;
}
.no_active:hover{
    background: #1b6f8c;
}