.main_section_name{
    margin:0 0 2% 0;
    padding: 0 0 0 2%;
}
.main_section_basic{
    margin: 5px 0 5px 2px;
}
.main_section_basic_avatar>img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}
.main_section_basic_links{
}
.main_section_basic_links_item{
    color:#23527c;
    font: 1.9rem sans-serif;
    margin: 2% 0;
}
.main_section_basic_links_item a{
    text-decoration: none;
    margin: 0 1%;
}
.main_section_basic_links_item a img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.main_section_basic_links_item_belt img{
    width: 15rem;
    margin-left: 3%;
}
.main_section_basic_links_item_direction span{
    font-size: 2rem;
    margin-left: 10%;
}
.main_section_basic_level div{
    font-size: 2.4rem;
    margin-top: 1%;
    padding-left:7%;
}
.main_section_userInf{
    margin: 2% 0 1% 3%;
    padding: 0;
}
.main_section_userInf_item{
    padding: 0 1%;
}
.main_section_photoGallery{
    margin: 2% 0;
}
.main_section_photoGallery_head{
    margin:0 auto;
    text-align: center;
}
.main_section_photoGallery_images{
    margin: 1% 0 2% 1%;
    padding: 1%;
}
.main_section_photoGallery_images figcaption{
    text-align: center;
}
.main_section_photoGallery_images img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 1%;
}
.pencil{
    opacity:0;
    transition: 0.5s;
    color:#000;
}
.pencil-name{
    font-size: 18px;
    margin-left:6px;
}
.pencil-links{
   font-size: 18px;
    /*margin-left:3px;*/
}
.pencil-info{
    font-size: 15px;
    margin-left:6px;
}
.pencil:hover{
    transition: 0.5s;
    opacity:0.6;
}