<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('Add mark')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '','/admin/mark/')"></div>



<div th:remove="all">
    <div th:fragment="main">

        <form action="#" th:action="@{/admin/mark/}" th:object="${mark}" method="post">
            <input type="hidden" th:field="*{markId}" />

            <input type="text" th:field="*{markName}" placeholder="mark" /><br/>
            <input type="text" th:field="*{imageURL}" placeholder="image" /><br/>

            <input type="submit" />
        </form>

    </div>
</div>
</html>
