<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mark List</title>
</head>
<body>
<a th:href="@{/admin/mark/management}" >Mark Management</a>
<br/>
<div class="markList" th:unless="${#lists.isEmpty(markList)}">

  <h2 >List of Mark</h2>

  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Mark Name</th>
      <th>Address</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mark : ${markList}">
      <td th:text="${mark.markId}"></td>
      <td th:text="${mark.markName}"></td>
      <td th:text="${mark.imageURL}"></td>
      <td><a th:href="@{/admin/mark/edit/} + ${mark.markId}">Edit</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>