<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('News list')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '','/admin/post/', 'Новини')"></div>
<div th:remove="all">
    <div th:fragment="main" class="addCity">

        <form action="#" th:action="@{/admin/post/add/}"  th:object="${post}" enctype="multipart/form-data" method="post">
            <input type="hidden" th:field="*{postId}" />
            <label for="title">Заголовок</label>
            <input class="form-control" type="text" th:field="*{title}" />
            <br/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            <label for="description">Описання новини</label>
            <textarea class="form-control" type="text" th:field="*{body}"></textarea>
            <br/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
            <br/>
            <label for="file">Фото новини</label>
            <input class="form-control" type="file" name="file" />
            <br/>
            <input class="btn btn-primary" type="submit" value="Зберегти">
        </form>
    </div>
</div>
</html>