<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article List</title>
    <script src="/resources/ckeditor/ckeditor.js"></script>
</head>
<body>
<div class="articleList" th:unless="${#lists.isEmpty(articleList)}">
    <h  2 >List of Article</h2>
    <table>
        <thead>
        <tr>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articleList}">
            <td th:text="${article.articleName}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:inline="html" class="article" th:unless="${#lists.isEmpty(article)}" th:each="article : ${article}" >
    <h2 th:text="${article.articleName}">Article name</h2>
    <textarea th:utext="${article.context}" th:remove="tag">
    </textarea>
</div>
</body>
</html>