<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user group</title>
</head>
<body>
    <a th:href="@{/admin/userGroup/management}" > User group Management</a>
    <br/>
    <form action="#" th:action="@{/admin/userGroup/}" th:object="${userGroup}" enctype="multipart/form-data" method="post">
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}" placeholder="Name" /><br/>
 		<br/>

        <label for="userList">Users:</label>
        <select multiple name="users">
            <option th:each="user : ${userList}"
                    th:selected="${userGroup!=null && userGroup.users != null && userGroup.users.contains(user)}"
                    th:value="${{user.getUserId().toString()}}"
                    th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
        </select> <br />

		<input type="submit" />
    </form>      
</body>
</html>