<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My events</title>
    <link rel="stylesheet" href="/resources/frontend/libraries/bootstrap.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/frontend/workField/css/workField.css">
    <link rel="stylesheet" href="/resources/frontend/workField/css/privateOffice.css">
    <link rel="stylesheet" href="/resources/frontend/bars.css">
    <link rel="stylesheet" href="/resources/frontend/myevents.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/resources/frontend/libraries/constants.js"></script>
    <script src="/resources/frontend/myevents.js"></script>
</head>
<body>
<div class="container-fluid wrapper">
    <div class="row header">
        <div class="col-xs-8 col-md-offset-4 h4 header_commercial">Гугл реклама</div>
        <div class="col-xs-3 h2 header_logo"><img class='header_logo_img'
                                                  src="/resources/frontend/workField/images/logo_Peresvit.png"
                                                  alt="логотип"></div>
        <div class="col-xs-8  row header_nav">
            <div th:replace="home/fragments/headBar :: headBar"></div>
            <!--Сюда вставляем данные с верхнего бара fragments/headBar.html-->
        </div>
    </div>
    <div class="row main">
        <div class="col-xs-3 container main_sidebar">
            <!--Сюда вставляем боковой бар fragments/sideBar.html-->
            <div th:replace="home/fragments/sideBar :: sideBar"></div>
            <div class="place_for_add_sidebar col-xs-12 row">
                <!--Сюда вставляем наш дополнительный сайдбар если юзер нажал на кнопку "мій шлях"
            который лежит в myWay/myWaySidebar.html-->


            </div>
        </div>
        <div class=" col-xs-7 row well container-fluid main_section">
            <h2>Мої події</h2>
            <div class="col-xs-7 calendar ">
                <h4>Календар</h4>
                <div id="datepicker"></div>
            </div>
            <div class="col-xs-3">
                <h4>ближайшие события </h4>
                <div id="closest" ></div>
            </div>
            <div>
                <div id="next" class="col-xs-4">следующее</div>
            </div>
        </div>
        <footer>
            <div class="row container-fluid">
                <div class="col-xs-6 col-md-8 col-md-offset-2 footer_commercial">Гугл реклама</div>
                <div class="col-xs-2 col-md-2 row">
                    <img src="/resources/frontend/workField/images/Logovk.png" alt="vk">
                    <img src="/resources/frontend/workField/images/Logofc.png" alt="fs">
                    <img src="/resources/frontend/workField/images/Logoin.png" alt="instagram">
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
</html>