.main_section{
    padding-left: 20px;
    font-family: inherit;
}
.main_section h2{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
main p{
    clear:both;
}
main label{
    margin-top: 4px;
    font-size: 18px;
}
.form-group {
    margin-bottom: 5px;
}
main select,
main input[type='text'],
main input[type='password']{
    float:right;
    margin-right:50px;
    width: 250px;
    font-size: 16px;
}
textarea{
    float:right;
    margin-right:50px;
    margin-bottom:10px;
}
main .gender{
    float: right;
    margin: 9px 48px 0 50px;
    width: 250px;
    font-size: 17px;
}
.form-control{
    width: 250px;
    display: inline;
    /*width: auto;*/
    font-size:16px;
}
/*avatar*/
main input[type='file']{
    float: right;
    width: 299px;
    font-size: 17px;
}
.passwords > p{
    font-size: 19px;
    color: #1A237E;
    font-weight: bolder;
    cursor: pointer;
}
.passwords fieldset{
    display: none;
}
.checkOldPass{
    clear: both;
    float: right;
    margin: 2px 54px 10px 0;
    font-size: 16px;
    color:red
}
.checkNewPass{
    clear: both;
    float: right;
    margin: 2px 54px 10px 0;
    font-size: 16px;
}
.buttons{
    float:right;
    margin-right:50px;
}
.buttons input{
    font-size:15px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}