<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peresvit</title>
    <link rel="stylesheet" href="../../../resources/frontend/libraries/bootstrap.css">
    <link rel="stylesheet" href="../../../resources/frontend/registration/css/registration_style.css">
    <script src="../../../resources/frontend/libraries/jquery-2.2.4.min.js"></script>
    <script src="../../../resources/frontend/libraries/constants.js"></script>
    <script src="../../../resources/frontend/libraries/bootstrap.min.js"></script>
    <script  async src="../../../resources/frontend/registration/js/validator.js"></script>
    <script  async src="../../../resources/frontend/registration/js/registration_script.js"></script>
</head>
<body>
<div class="container-fluid wrapper">
    <div class="row log_in">
        <button type="button" class="btn btn-default col-xs-offset-3 col-xs-2  col-sm-offset-3 col-sm-2 log_in_field_main_logIn" data-toggle="modal" data-target="#myModal_log_in">Вхід</button>
    </div>
    <!-- Вход в личный кабинет-->
    <div class="modal fade" id="myModal_log_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal_header_logIn row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <div class="modal_header_logIn_title col-xs-offset-1 col-xs-10" id="myModalLabel"><p>Вхід до особистого кабінету</p></div>
                </div>
                <div class="modal_logIn_section row">
                    <form th:action="@{/signIn}" th:object="${user}" method="post" class='col-xs-offset-1 col-xs-10 modal_logIn_section_form' data-toggle="validator" role="form">
                        <div class="form-group has-feedback row modal_logIn_section_form_email">
                            <label  for="inputEmail" class="control-label">Введіть Ваш email</label>

                            <div class="input-group col-xs-12">
                                <input type="text" th:field="*{email}" class="form-control " pattern="^[_A-z0-9]{1,}$" id="inputEmail" placeholder="email" data-error="Ваш email невірний" required>
                                <span class="input-group-addon">@gmail.com</span>
                            </div>
                            <i class="glyphicon form-control-feedback" aria-hidden="true"></i>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group has-feedback col-xs-8 row modal_logIn_section_form_pass">
                            <label for="inputPassword" class="control-label">Введіть Ваш пароль</label>
                            <div class="input-group col-xs-12 modal_logIn_section_form_pass_input">
                                <span class="input-group-addon"><div class="glyphicon glyphicon-lock"></div></span>
                                <input th:field="*{password}" type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
                            </div>
                            <i class="glyphicon form-control-feedback " aria-hidden="true" ></i>
                            <!--<div class="help-block with-errors">Hey look, this one has feedback icons!</div>-->
                            <div class="help-block"><p>Довжина має бути не менше 6 символів</p></div>
                        </div>
                        <div class="form-group col-xs-4 modal_logIn_section_form_pass_forget">
                            <div class="modal_logIn_section_form_pass_forget_item">
                                <p><a href="">Забули пароль?</a></p>
                            </div>
                        </div>
                        <div class="form_inline modal_logIn_section_form_rememberMe col-xs-12">
                            <div class="form-group">
                                <div class="col-xs-6 modal_logIn_section_form_rememberMe_text ">
                                    <h3>Запам'ятати мене</h3>
                                </div>
                                <div class="col-xs-offset-1 col-xs-3 modal_logIn_section_form_rememberMe_checkbox">
                                    <label class="switch">
                                        <input type="checkbox" >
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group using_social_networks row col-xs-12">
                            <div class="vk col-xs-offset-1  col-xs-11">
                                <a role="button" class="btn btn-default vk_button" href="#"><img src="../../../resources/frontend/registration/img/vk_icon.png" alt=""> Войти через Вконтате</a>
                            </div>
                            <div class="fb col-xs-offset-1 col-xs-11">
                                <a role="button" class="btn btn-default fb_button" href="#"><img src="../../../resources/frontend/registration/img/fb_icon.png" alt="">Войти через Facebook</a>
                            </div>
                            <div class="google_plus col-xs-offset-1 col-xs-11">
                                <a role="button" class="btn btn-default google_plus_button" href="#"><img src="../../../resources/frontend/registration/img/google_plus_icon.png" alt=""> Войти через Google+</a>
                            </div>
                        </div>
                        <div class="form-group no_account row col-xs-12">
                            <p class=" col-xs-9"><a data-toggle="modal" data-target="#myModal_sign_up" href="">Немає облікового запису? Реєстрація</a></p>
                        </div>
                        <div class="form-group col-xs-offset-10 col-xs-2">
                            <button type="submit" class="btn btn-primary">Увійти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Регистрация-->
    <div class="modal fade" id="myModal_sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_sign_up">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal_header_signUp row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <div class="modal_header_signUp_title col-xs-offset-1 col-xs-10" id="myModalLabel_sign_up"><p>Реєстрація</p></div>
                </div>
                <div class="modal_signUp_section row">
                    <form  th:action="@{/registration/registration}" th:object="${user}" method="post" class='col-xs-offset-1 col-xs-10 modal_signUp_section_form' data-toggle="validator" role="form">
                        <div class="form-group row modal_signUp_section_form_name has-feedback">
                            <label for="inputName" class="control-label ">Ім'я</label>
                            <div class="input-group">
                                <span class="input-group-addon"><div class="glyphicon glyphicon-user"></div></span>
                                <input type="text" th:field="*{firstName}" class="form-control col-xs-12" id="inputName" placeholder="Введіть Ваше ім'я" required>

                            </div>
                            <i class="glyphicon form-control-feedback " aria-hidden="true" ></i>
                            <div class="help-block"><p>Це поле є обов`язковим для заповнення</p></div>
                        </div>
                        <div class="form-group row modal_signUp_section_form_surname has-feedback">
                            <label for="inputSurname" class="control-label ">Прізвище</label>
                            <div class="input-group">
                                <span class="input-group-addon"><div class="glyphicon glyphicon-user"></div></span>
                                <input th:field="*{lastName}" type="text" class="form-control col-xs-12" id="inputSurname" placeholder="Введіть Вашe прізвище" required>

                            </div>
                            <i class="glyphicon form-control-feedback " aria-hidden="true" ></i>
                            <div class="help-block"><p>Це поле є обов`язковим для заповнення</p></div>
                        </div>
                        <div class="form-group row has-feedback modal_signUp_section_form_email ">
                            <label for="inputEmail_signUp" class="control-label">Введіть Ваш email</label>

                            <div class="input-group col-xs-12">
                                <input th:field="*{email}" type="text" class="form-control " pattern="^[_A-z0-9]{1,}$" id="inputEmail_signUp" placeholder="email" data-error="Ваш email невірний" required>
                                <span class="input-group-addon">@gmail.com</span>
                            </div>
                            <i class="glyphicon form-control-feedback" aria-hidden="true"></i>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group has-feedback col-xs-8 row modal_logIn_section_form_pass">
                            <label for="inputPassword_signUp" class="control-label">Введіть Ваш пароль</label>
                            <div class="input-group col-xs-12 modal_logIn_section_form_pass_input">
                                <span class="input-group-addon"><div class="glyphicon glyphicon-lock"></div></span>
                                <input th:field="*{password}" type="password" data-minlength="6" class="form-control" id="inputPassword_signUp" placeholder="Password" required>
                            </div>
                            <i class="glyphicon form-control-feedback " aria-hidden="true" ></i>
                            <div class="help-block"><p>Довжина має бути не менше 6 символів</p></div>
                        </div>
                        <div class="form-group col-xs-4 modal_logIn_section_form_pass_forget">
                            <div class="modal_logIn_section_form_pass_forget_item">
                                <p><a href="">Забули пароль?</a></p>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 row modal_signUp_section_form_confirm has-feedback ">
                            <label for="inputPasswordConfirm" class="control-label">Введіть Ваш пароль</label>
                            <div class="input-group col-xs-12 pass_confirm">
                                <span class="input-group-addon"><div class="glyphicon glyphicon-lock"></div></span>
                                <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword_signUp" data-match-error="Паролі не співпадають" placeholder="Confirm" required>
                            </div>
                            <i class="glyphicon form-control-feedback " aria-hidden="true" ></i>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group using_social_networks row col-xs-12">
                            <div class="vk col-xs-offset-1  col-xs-11">
                                <a role="button" class="btn btn-default vk_button" href="#"><img src="../../../resources/frontend/registration/img/vk_icon.png" alt=""> Войти через Вконтате</a>
                            </div>
                            <div class="fb col-xs-offset-1 col-xs-11">
                                <a role="button" class="btn btn-default fb_button" href="#"><img src="../../../resources/frontend/registration/img/fb_icon.png" alt="">Войти через Facebook</a>
                            </div>
                            <div class="google_plus col-xs-offset-1 col-xs-11">
                                <a role="button" class="btn btn-default google_plus_button" href="#"><img src="../../../resources/frontend/registration/img/google_plus_icon.png" alt=""> Войти через Google+</a>
                            </div>
                        </div>
                        <div class="form-group col-xs-offset-9 col-xs-3">
                            <button type="submit" class="btn btn-success">Зареєструватися</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>