<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('City')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '','/admin/city/')"></div>



<div th:remove="all">
    <div th:fragment="main">

        <form action="#" th:action="@{/admin/city/}" th:object="${city}" method="post">
            <input type="hidden" th:field="*{cityId}" />

            <input type="text" th:field="*{cityName}" placeholder="city" /><br/>

            <input type="submit" />
        </form>

    </div>
</div>
</html>
