<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('City list')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '/admin/city/add','')"></div>

<div th:remove="all">
  <div th:fragment="main">

    <div class="cityList" th:unless="${#lists.isEmpty(cityList)}">

      <h2 >List of City</h2>

      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>City Name</th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city : ${cityList}">
          <td th:text="${city.cityId}"></td>
          <td th:text="${city.cityName}"></td>
          <td><a th:href="@{/admin/city/edit/} + ${city.cityId}">Edit</a></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</html>
