<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('ResourceGroups List')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '/admin/resourceGroupType/add','')"></div>



<div th:remove="all">
  <div th:fragment="main">

    <div class="resourceGroupTypeList" th:unless="${#lists.isEmpty(resourceGroupTypeList)}">

      <h2 >List of ResourcesGroupTypes</h2>

      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>Group Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resourceGroupType : ${resourceGroupTypeList}">
          <td th:text="${resourceGroupType.resourceGroupTypeId}"></td>
          <td th:text="${resourceGroupType.groupName}"></td>
          <td th:text="${resourceGroupType.caption}"></td>
          <td><a th:href="@{/admin/resourceGroupType/edit/} + ${resourceGroupType.resourceGroupTypeId}">Edit</a></td>
          <td><a th:href="@{/admin/resourceGroupType/delete/} + ${resourceGroupType.resourceGroupTypeId}">Delete</a></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</html>

