<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Google connection</title>
    <script src="/resources/frontend/libraries/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resources/frontend/libraries/bootstrap.css" th:href="@{/resources/frontend/libraries/bootstrap.css}">
    <script src="/resources/frontend/libraries/jquery-2.2.4.min.js" th:src="@{/resources/frontend/libraries/jquery-2.2.4.min.js}"></script>
</head>
<body>
    <div class="col-xs-offset-3 col-xs-6">
        <div class="container-fluid well page-header jumbotron center-block">
            <h3 class="center-block">Приєднання до Google</h3>

            <form class="modal-dialog container-fluid" th:action="@{/connect/google}" method="POST">
                <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}" />-->
                <input type="hidden" name="scope" value="email https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/latitude.all.best" />
                <input type="hidden" name="request_visible_actions" value="http://schemas.google.com/AddActivity http://schemas.google.com/BuyActivity http://schemas.google.com/CheckInActivity http://schemas.google.com/CommentActivity http://schemas.google.com/CreateActivity http://schemas.google.com/DiscoverActivity http://schemas.google.com/ListenActivity http://schemas.google.com/ReserveActivity http://schemas.google.com/ReviewActivity http://schemas.google.com/WantActivity"/>
                <input type="hidden" name="access_type" value="offline"/>
                <div class="alert alert-info">
                    <p>Ви не приєднані до Google. Натисність кнопку, щоб приєднатися до вашого акаунту у Google.</p>
                </div>
                <button class="center-block" type="submit"><img th:src="@{/resources/social/google/google.png}"/></button>
            </form>
        </div>
    </div>
</body>
</html>