<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connect to VK</title>
    <link rel="stylesheet" href="/resources/frontend/libraries/bootstrap.css" th:href="@{/resources/frontend/libraries/bootstrap.css}">
    <script src="/resources/frontend/libraries/jquery-2.2.4.min.js" th:src="@{/resources/frontend/libraries/jquery-2.2.4.min.js}"></script>

</head>
<body>
    <h1 class="col-xs-offset-5 col-xs-2"><a th:href="@{/}" class="center-block btn btn-secondary">На головну сторінку</a></h1>
    <div class="col-xs-offset-3 col-xs-6">
        <div class="container-fluid well page-header jumbotron center-block">
            <h3 class="center-block">Ви приєдналися до VKontakte</h3>
            <a href="/registration/vkontakte/finishRegistration" type="button" class="btn btn-success col-xs-offset-5 col-xs-3">Завершити реєстрацію</a>
        </div>
    </div>
</body>
</html>

