<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connect to VK</title>
    <link rel="stylesheet" href="/resources/frontend/libraries/bootstrap.css" th:href="@{/resources/frontend/libraries/bootstrap.css}">
    <script src="/resources/frontend/libraries/jquery-2.2.4.min.js" th:src="@{/resources/frontend/libraries/jquery-2.2.4.min.js}"></script>

</head>
<body>
<div class="col-xs-offset-3 col-xs-6">
    <div class="container-fluid well page-header jumbotron center-block">
        <h3 class="center-block">Приєднання до VK</h3>

        <form class="modal-dialog container-fluid" th:action="@{/connect/vkontakte}" method="POST">
            <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}" />-->
            <input type="hidden" name="scope" value="offline" />
            <div class="alert alert-info">
                <p>Ви не приєднані до VKontakte. Натисність кнопку, щоб приєднатися до вашого акаунту у VKontakte.</p>
            </div>
            <button class="center-block" type="submit"><img th:src="@{/resources/social/vkontakte/connect_short.png}"/></button>
        </form>
    </div>
</div>
</body>
</html>

