<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/frontend/libraries/bootstrap.css">
    <link rel="stylesheet" href="/resources/frontend/workField.css">
    <script src="/resources/frontend/libraries/jquery-2.2.4.min.js"></script>
    <script src="/resources/frontend/libraries/constants.js"></script>
    <title th:text="${currentChat.getChatTitle()}"></title>
    </head>
<body>
<div class="container-fluid wrapper">
    <div class="row header">
        <div class="col-xs-8 col-md-offset-4 h4 header_commercial">Гугл реклама</div>
        <div class="col-xs-3 h2 header_logo"><img class='header_logo_img' src="/resources/frontend/images/logo_Peresvit.png" alt="логотип"></div>
        <div class="col-xs-8  row header_nav">
            <div th:replace="home/fragments/headBar :: headBar"></div>
            <!--Сюда вставляем данные с верхнего бара fragments/headBar.html-->
        </div>
    </div>
    <div class="row main">
        <div class="col-xs-3 container main_sidebar">
            <!--Сюда вставляем боковой бар fragments/sideBar.html-->
            <div th:replace="home/fragments/sideBar :: sideBar"></div>
            <div class="place_for_add_sidebar col-xs-12 row">

            </div>
        </div>
        <div class=" col-xs-7 row well container-fluid main_section">
            <div class="messageList1">
                <div class="container-fluid messageList-header">
                    <p class="col-xs-4 messageList-header-title">Название беседы</p>
                    <select class="col-xs-4 messageList-header-select" name="Settings" >
                        <option selected value="settings">Налаштування</option>
                        <option  value="add buddy">Додати співрозмовників</option>
                        <option  value="change title">Змінити назву бесіди</option>
                        <option  value="leave chat">Покинути бесіду</option>
                    </select>
                </div>
                <div class="messageList-content">
                    <div class="container-fluid markList messageList-content-msgField" th:unless="${#lists.isEmpty(messagesList)}">
                        <div class="msgField-advert">
                            <p>Артур створив бесiду "Бионика найкраща"</p>
                        </div>
                        <div class='msgField-letter' th:each="message : ${messagesList}">
                            <span class="col-xs-12 msgField-letter-author" th:text="${message.sender.getFirstName()} + ' ' + ${message.sender.getLastName()}"></span>
                            <span class="msgField-letter-id" th:text="${message.messageId}"></span>
                            <span class="msgField-letter-content" th:text="${message.content}"></span>
                            <span class="msgField-letter-time" th:text="${message.createdAt}"></span>
                        </div>
                    </div>
                    <div class="messageList-content-newMsg">
                        <form action="#">
                            <input type="text" class=" form-control messageList-content-newMsg-input" placeholder="Введіть повідомлення">
                            <button class=' btn btn-primary messageList-content-newMsg-button' type="submit">Відправити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="row container-fluid" >
            <div class="col-xs-6 col-md-8 col-md-offset-2 footer_commercial">
                <p>Гугл реклама</p>

            </div>
            <div class="col-xs-2 col-md-2 row">
                <img src="/resources/frontend/images/Logovk.png" alt="vk">
                <img src="/resources/frontend/images/Logofc.png" alt="fs">
                <img src="/resources/frontend/images/Logoin.png" alt="instagram">
            </div>
        </div>
    </footer>
</div>
</div>

</body>
</html>