<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My way</title>
    <link rel="stylesheet" href="/resources/frontend/css/peresvit.css">
    <link rel="stylesheet" href="/resources/frontend/css/reset.css">
</head>
<body>
<div class="wrapper">
    <div class="wrapper-outer clearfix">
        <div th:replace="home/fragments/body::body"></div>
        <div class="wrapper-inner Panel">
            <div th:replace="home/fragments/header::header"></div>
            <div class="content">
                <div th:replace="home/fragments/navigation::navigation"></div>
                <nav class="nav-path">
                    <a class="nav-path-my-way" href="#">Мiй шлях</a>
                    <span class="nav-path slash">&#8260;</span>
                    <a class="nav-path-tech-complex" href="#">Базові технічні комплекси</a>
                </nav>
                <main class="my-way-main">
                    <div th:each="resourceGroupType : ${resourceGroupTypeList}">
                        <div th:each="chapter :  ${resourceGroupType.chapterList}">
                            <article class="main-article-item">
                                <h3 th:text="${chapter.chapterName}">Подготовка к использованию техники разбивания предметов</h3>
                                <ol th:unless="${#lists.isEmpty(chapter.articleCollection)}" th:each="article : ${chapter.articleCollection}">
                                    <li><a href="#" class="level2" th:href="@{/resource/article/} + ${article.articleId}" th:text="${article.articleName}">В чем важность техники разбивания</a></li>
                                </ol>
                            </article>
                        </div>
                    </div>
                </main>
            </div>
            <div th:replace="home/fragments/footer::footer"></div>
        </div>
    </div>
</div>
<script class="jquery" type="text/javascript" src="/resources/frontend/js/jquery-3.1.1.min.js"></script>
<script src="/resources/frontend/js/sideBar.js"></script>
<script type="text/javascript" src="/resources/frontend/js/peresvit.js"></script>
</body>
</html>