<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/frontend/libraries/bootstrap.css">
    <link rel="stylesheet" href="/resources/frontend/workField.css">
    <script src="/resources/frontend/libraries/jquery-2.2.4.min.js"></script>
    <script src="/resources/frontend/libraries/constants.js"></script>
    <title th:text="${chat.getChatTitle()}"></title>
</head>
<body>
<div class="container-fluid wrapper">
    <div class="row header">
        <div class="col-xs-8 col-md-offset-4 h4 header_commercial">Гугл реклама</div>
        <div class="col-xs-3 h2 header_logo"><img class='header_logo_img' src="/resources/frontend/images/logo_Peresvit.png" alt="логотип"></div>
        <div class="col-xs-8  row header_nav">
            <div th:replace="home/fragments/headBar :: headBar"></div>
            <!--Сюда вставляем данные с верхнего бара fragments/headBar.html-->
        </div>
    </div>
    <div class="row main">
        <div class="col-xs-3 container main_sidebar">
            <!--Сюда вставляем боковой бар fragments/sideBar.html-->
            <div th:replace="home/fragments/sideBar :: sideBar"></div>
            <div class="place_for_add_sidebar col-xs-12 row">

            </div>
        </div>
        <div class=" col-xs-7 row well container-fluid main_section">
            <form th:object="${chat}" th:method="post" th:action="@{/home/messages/newChat}">
                <input type="hidden" th:field="*{chatId}">
                <label th:for="chatTitle">Назва бесіди</label>
                <input type="text" th:field="*{chatTitle}">
                <ul>
                    <li th:each="user : ${userList}">
                        <input type="checkbox" th:field="*{members}" th:value="${user.userId}" title="учасники"/>
                        <label th:text="${user.firstName}">ROLE_USER</label>
                    </li>
                </ul>
                <button class=' btn btn-primary messageList-content-newMsg-button' type="submit">Створити</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>