<!-- <style type="text/css">
	.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
 -->
<div> 

	<!-- ----------------------VT added calendar -->
	<div class="responsive-iframe-container">
		<iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;hl=uk&amp;bgcolor=%23ffffff&amp;src=mep-engineering.com.ua_ojfhmhb4a24fs8li11vv8vervs%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FKiev" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
		</iframe>
	</div>

	<div class="responsive-iframe-container">
		<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=uk&amp;bgcolor=%23ffffff&amp;src=mep-engineering.com.ua_ojfhmhb4a24fs8li11vv8vervs%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FKiev" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
		</iframe>
	</div>

</div>
