<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../../resources/frontend/workField/css/privateOffice.css">
<body>
<div class="show user">
    <div>
        <p class="text-left h2 main_section_name"> <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></p>
    </div>
    <div class="row main_section_basic">
        <div class="col-xs-2 main_section_basic_avatar">
            <!--Сюда вставляем ссылку на аватар юзера-->
            <img th:src="${user.avatarURL}" alt="your avatar">
        </div>
        <div class="col-xs-8 col-xs-offset-1 main_section_basic_links">
            <p class="main_section_basic_links_item">
                <!--Сюда вставляем ссылки на профиль юзера в соцсетях vk, fb, g+, если они есть-->
                <a href="#"><img src="../../../resources/frontend/workField/images/Logovk.png" alt="vk"></a>
                <a href="#"><img src="../../../resources/frontend/workField/images/Logofc.png" alt="fs"></a>
                <a href="#"><img src="../../../resources/frontend/workField/images/Logoin.png" alt="instagram"></a>
            </p>
        </div>
        <div class="col-xs-9 col-xs-offset-1 main_section_basic_links">
            <p class="main_section_basic_links_item_belt row">
                <!--Сюда вставляем на картинку, какой пояс есть у юзера-->
                <img src="../../../resources/frontend/workField/images/yellow_belt.png" alt="belt">
            </p>
        </div>
        <div class="col-xs-9 col-xs-offset-1 main_section_basic_links">
            <p class="main_section_basic_links_item_direction row">
                <!--Сюда вставляем направление юзера -->
                <span>Фрiфайт</span>
            </p>
        </div>
        <div class="col-xs-12 main_section_basic_level">
            <!--Сюда вставляем ранг юзера (юзер, админ и тд.)-->
            <p th:text="${user.rang.rangName}">Ранг</p>
        </div>
    </div>

    </div>
    <div class="row col-xs-9  main_section_userInf">
        <!--Сюда вставляем личную информацию о юзере-->
        <div class="col-xs-7 main_section_userInf_item" >
            <!--Сюда вставляем город и клуб в котором живет юзер-->
            <p><b>Город и клуб:</b><br/><span>Киев, Пересвіт</span></p>
        </div>
        <div class="col-xs-7 main_section_userInf_item" >
            <!--Сюда вставляем ФИО наставника-->
            <p><b>Наставник:</b><br/><span>Александр Степанович</span></p>
        </div>
        <div class="col-xs-7 main_section_userInf_item" >
            <!--Сюда вставляем информацию юзера о себе-->
            <p><b>Про себе:</b><br/><span>Чорний пояс по Фрі-файт, чемпіон Європи</span></p>
        </div>
    </div>
    <div class=" row col-xs-12 main_section_photoGallery">
        <div>
            <p class="lead main_section_photoGallery_head">Фотоальбом</p>
        </div>
        <div class="col-xs-12  main_section_photoGallery_images">
            <!--Сюда вставляем фотоальбом юзера-->
            <img src="../../../resources/frontend/workField/images/basile.jpg" alt="judo">
            <img src="../../../resources/frontend/workField/images/sambo.jpg" alt="sambo">
        </div>
    </div>
</div>
</body>
</html>

