<html lang="ukr" xmlns:th="http://www.thymeleaf.org">

<body>

<form action="#" th:action="@{/home/privateOfficeEdit}" th:object="${user}" enctype="multipart/form-data" method="post">

    <input type="hidden" th:field="*{userId}" />
    <input type="hidden" th:field="*{enabled}" />
    <input type="hidden" th:field="*{rang.rangId}" />

    <label for="avatar">Змінити аватар:</label>
    <input type="file" name="file" /><br/>

    <input type="text" th:field="*{firstName}" placeholder="Імя" /><br/>
    <input type="text" th:field="*{lastName}" placeholder="Фамілія" /><br/>
    <input type="text" th:field="*{middleName}" placeholder="Прізвище" /><br/>
    <input type="text" th:field="*{email}" placeholder="e-mail" /><br/>
    <input type="hidden" th:field="*{password}" placeholder="password" />
    <input type="hidden" th:field="*{avatarURL}"/><br/>
    <input type="text" th:field="*{profileVK}" placeholder="профіль vk" /><br/>
    <input type="text" th:field="*{profileFB}" placeholder="профіль facebook" /><br/>
    <input type="text" th:field="*{profileIS}" placeholder="профіль instagram" /><br/>

    <label for="gender">Стать:</label>
    <div><input type="radio" th:name="male" th:value="true"  th:field="*{gender}" checked="checked" />Чоловік</div>
    <div><input type="radio" th:name="female" th:value="false"  th:field="*{gender}" />Жінка</div>

    <label for="combatArtList">Бойове мистецтво:</label>
    <select th:field="*{combatArt.combatArtId}">
        <option value="" th:text="''"></option>
        <option th:each="combatArt : ${combatArtList}" th:value="${combatArt.combatArtId}"
                th:text="${combatArt.combatArtName}"></option>
    </select> <br />

    <label for="cityList">Місто:</label>
    <select th:field="*{city.cityId}">
        <option value="" th:text="''"></option>
        <option th:each="city : ${cityList}" th:value="${city.cityId}"
                th:text="${city.cityName}"></option>
    </select> <br />

    <label for="clubList">Клуб:</label>
    <select th:field="*{club.clubId}">
        <option value="" th:text="''"></option>
        <option th:each="club : ${clubList}" th:value="${club.clubId}"
                th:text="${club.clubName}"></option>
    </select> <br />

    <label for="mentorList">Наставник:</label>
    <select th:field="*{mentor.userId}">
        <option value="" th:text="''"></option>
        <option th:each="mentor : ${mentorList}" th:value="${mentor.userId}"
                th:text="${mentor.firstName} + ' ' + ${mentor.lastName}"></option>
    </select> <br />

    <label for="about">Про мене:</label>
    <textarea th:field="*{about}" /> <br />

    <input type="submit" value="Зберегти" />

</form>

</body>
</html>