<div class="show">
    <div>
        <p class="text-left h2 main_section_name"> Имя Фамилия</p>
    </div>
    <div class="row main_section_basic">
        <div class="col-xs-2 main_section_basic_avatar">
            <img src="../../../resources/frontend/workField/images/avatar.png" alt="your avatar">
        </div>
        <div class="col-xs-8 col-xs-offset-1 main_section_basic_links">
            <p class="main_section_basic_links_item">
                <a href="#"><img src="../../../resources/frontend/workField/images/Logovk.png" alt="vk"></a>
                <a href="#"><img src="../../../resources/frontend/workField/images/Logofc.png" alt="fs"></a>
                <a href="#"><img src="../../../resources/frontend/workField/images/Logoin.png" alt="instagram"></a>
            </p>
        </div>
        <div class="col-xs-9 col-xs-offset-1 main_section_basic_links">
            <p class="main_section_basic_links_item_belt row">
                <img src="../../../resources/frontend/workField/images/yellow_belt.png" alt="belt">
            </p>
        </div>
        <div class="col-xs-9 col-xs-offset-1 main_section_basic_links">
            <p class="main_section_basic_links_item_direction row">
                <span>Фрiфайт</span>
            </p>
        </div>
        <div class="col-xs-12 main_section_basic_level">
            <p>Учень</p>
        </div>
    </div>

    </div>
    <div class="row col-xs-9  main_section_userInf">

        <div class="col-xs-7 main_section_userInf_item" >
            <p><b>Город и клуб:</b><br/><span>Киев, Пересвіт</span></p>
        </div>
        <div class="col-xs-7 main_section_userInf_item" >
            <p><b>Наставник:</b><br/><span>Александр Степанович</span></p>
        </div>
        <div class="col-xs-7 main_section_userInf_item" >
            <p><b>Про себе:</b><br/><span>Чорний пояс по Фрі-файт, чемпіон Європи</span></p>
        </div>
    </div>
    <div class=" row col-xs-12 main_section_photoGallery">
        <div>
            <p class="lead main_section_photoGallery_head">Фотоальбом</p>
        </div>
        <div class="col-xs-12  main_section_photoGallery_images">
            <img src="../../../resources/frontend/workField/images/basile.jpg" alt="judo">
            <img src="../../../resources/frontend/workField/images/sambo.jpg" alt="sambo">
        </div>
    </div>
</div>