<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/fragments/head :: head('НАЗВАНИЕ СТРАНИЦЫ')"></head>
<head>
    <!--СЮДА МОЖНО ДОБАВИТЬ ВСЁ, ЧЕГО НЕТУ В head.HTML-->
</head>
<body>
<div th:replace="home/fragments/body :: body(~{::main}, '', false, '')"></div>

<div th:remove="all">
    <main class="my-way-main"  th:fragment="main">
        <div>
            <span> <a th:text="${'   #Все'}" th:href="@{/home/we}"></a> </span>
            <span th:each="group: ${groups}"> <a th:text="${'   #' + group.name}" th:href="@{/home/we/{id}(id=${group.id}) }"></a> </span>
        </div>
        <br>

        <div class="row" th:each="user : ${userList}">
            <div class="col-xs-2">
                <a th:href="@{/home/workField/} + ${user.userId}"><img th:src="${user.avatarURL}" alt="photo" height="42" width="42"></a>
            </div>
            <div class="col-xs-6">
                <a th:href="@{/home/workField/} + ${user.userId}"><div class="row" th:text="${user.firstName + ' ' + user.lastName}"></div></a>
                <div class="row" th:text="${user.combatArt.combatArtName}">Фрі-файт</div>
                <div class="row"> <span th:each="mark: ${user.marks}" th:text="${'  ' + mark.markName}"></span> </div>
                <div class="row" th:text="${user.role.roleName}">Наставник 2-го класу</div>
            </div>
            <div class="col-xs-4">
                <a th:href="@{/home/messages/postMessage/} + ${user.userId}" type="submit" class="btn btn-default">написати повідомлення</a>
            </div>
            <br>
            <br>
            <br>
        </div>
    </main>
</div>
</body>
</html>
