<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peresvit</title>
    <link rel="stylesheet" href="/resources/frontend/libraries/bootstrap.css">
    <link rel="stylesheet" href="/resources/frontend/workField.css">
</head>
<body>
<div class="container-fluid wrapper">
    <div class="row header">
        <div class="col-xs-8 col-md-offset-4 h4 header_commercial">Гугл реклама</div>
        <div class="col-xs-3 h2 header_logo"><img class='header_logo_img' src="/resources/frontend/images/logo_Peresvit.png" alt="логотип"></div>
        <div class="col-xs-8  row header_nav">
            <div th:replace="home/fragments/headBar :: headBar"></div>
            <!--Сюда вставляем данные с верхнего бара fragments/headBar.html-->
        </div>
    </div>
    <div class="row main">
        <div class="col-xs-3 container main_sidebar">
            <!--Сюда вставляем боковой бар fragments/sideBar.html-->
            <div th:replace="home/fragments/sideBar :: sideBar"></div>
            <div class="place_for_add_sidebar col-xs-12 row">
            </div>
        </div>
        <div class="col-xs-9 row well container-fluid main_section">
            <div class="achievementList" th:unless="${#lists.isEmpty(page)}">
                <row class="col-md-10 blogShort" th:each="post : ${page}">
                    <div class="media well">
                        <a class="pull-left" href="#">
                            <img class="media-object" style=" width: 250px;margin: 1px 6px 1px 1px;float: left;display: block;" th:src="@{'data:image;base64,' + ${post.encodeFileToBase64Binary()}}" alt="post img">
                        </a>
                        <a class="btn btn-danger pull-right" th:href="@{/admin/post/} + @{${post.postId} + '/delete' }" onclick="event.preventDefault();deleteElem(this)"><span class="glyphicon glyphicon-trash"></span></a>
                        <div class="media-body">
                            <h2 class="media-heading" th:text="${post.title}">Receta 1</h2>
                            <div class="text-right">Автор: <a href="/home/workField" th:text="${post.user}">By Francisco</a></div>
                            <p th:text="${post.body}" style="width: 250px;
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;">text</p>
                            <br>
                            <ul class="list-inline list-unstyled">
                                <li><i class="glyphicon glyphicon-calendar"></i> <span th:text="${#dates.format(post.createDate,'dd/MM/YYYY HH:mm')}">2 days, 8 hours </span></li>
                            </ul>
                        </div>
                        <a class="btn btn-blog pull-right marginBottom10" th:href="@{/admin/post/} + @{${post.postId} + '/edit' }">Редагувати</a>
                    </div>
                </row>
            </div>

            <nav class="text-center">
                <ul class="pagination">
                    <li th:class="${page.isFirst()}? 'disabled' : ''">
                        <span th:if='${page.isFirst()}'>← Перша</span>
                        <a th:if='${not page.isFirst()}' th:href="'?page=0'">
                            ← Перша
                        </a>
                    </li>
                    <li th:class="${page.hasPrevious()}? '' : 'disabled'">
                        <span th:if='${not page.hasPrevious()}'>«</span>
                        <a
                                th:if='${page.hasPrevious()}'
                                th:href="'?page=' + ${page.getNumber() - 1}"
                                title='Попередня сторінка'
                        >
                            «
                        </a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, (page.getTotalPages() == 0 ? 1 : page.getTotalPages()))}">
                <span
                        th:if='${(i - 1) == param.page}'
                        th:text='${i}'>
                    1
                </span>
                        <a
                                th:if='${not ((i - 1) == param.page)}'
                                th:href="'?page=' + ${(i -1)}"
                        >
                            <span th:text='${i}'>1</span>
                        </a>
                    </li>
                    <li th:class="${page.hasNext()} ? '' : 'disabled'">
                        <span th:if='${not page.hasNext()}'>»</span>
                        <a
                                th:if='${page.hasNext()}'
                                th:href="'?page=' + ${page.getNumber() + 1}"
                                title='Натупна сторінка'
                        >
                            »
                        </a>
                    </li>
                    <li th:class="${page.isLast()}? 'disabled' : ''">
                        <span th:if='${page.isLast()}'>Остання →</span>
                        <a
                                th:if='${not page.isLast()}'
                                th:href="'?page=' + ${page.getTotalPages() - 1}"
                        >
                            Остання →
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
