
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../../../resources/frontend/workField/css/myWay/myWayBasic.css">
<body>
    <div class='container-fluid row mainBasic xmlns:th="http://www.thymeleaf.org"'>
        <div class="col-xs-8">
            <h2>Маваши Гери</h2>
        </div>
        <div class="col-xs-offset-1 col-xs-3">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        </div>
        <div class="col-xs-12">
            <p>Каждый, кто хотя бы немного интересовался восточными единоборствами , знает, что их основная визитная карточка - удары ногами. Ну а какой из этих пинков самый главный и запоминающийся? Конечно же, боковой удар подъемом стопы. "Вертушки" и сайд-кики хорошо смотрятся на показухах и в кино. Если же наблюдать соревнования, то мы увидим, что все многообразие ножных техник сводится к различным вариантам маваши гери (возьмем за основу каратистскую терминологию как самую распространенную), которыми противники осыпают друг друга.</p>
        </div>
        <div class=" col-xs-offset-1 col-xs-7">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4eUrbhxRl6g" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>
