<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chapters</title>
    <link rel="stylesheet" href="../../../../resources/frontend/libraries/bootstrap.css">
</head>
<body>

    <div class="panel-group">
        <div class="panel panel-default" th:each="chapter : ${chapters}">
            <div class="panel-heading">
                <h4 class="panel-title" th:text="${chapter.chapterName}"/>
            </div>
            <div class="panel-body">
                <div th:each="article : ${chapter.articleCollection}">
                    <a th:href="@{'/home/myWay/myWayChapters/' + ${chapter.chapterName} + '/' + ${article.articleId}}">
                        <h5 th:text="${article.articleName}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>