<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../../resources/frontend/workField/css/myWay/myWaySidebar.css">
<body>
<div class="container-fluid row add_sidebar" >
    <div class="btn-group-vertical btn-group-lg my_way_sidebar" role="group1" aria-label="222">
        <div class="btn-group my_way_sidebar_group" role="group1">
            <button class="btn btn-default dropdown-toggle my_way_sidebar_group_button" type="button"  aria-haspopup="true" aria-expanded="false">Базова техніка</button>
        </div>
        <div class="btn-group " role="group1">
            <button class="btn btn-default dropdown-toggle my_way_sidebar_group_button" type="button"  aria-haspopup="true" aria-expanded="false">Базові технічні комплекси</button>
        </div>
        <div class="btn-group" role="group1">
            <button class="btn btn-default dropdown-toggle my_way_sidebar_group_button" type="button"  aria-haspopup="true" aria-expanded="false">Парна робота</button>
        </div>
        <div class="btn-group" role="group1">
            <button class="btn btn-default dropdown-toggle my_way_sidebar_group_button" type="button"  aria-haspopup="true" aria-expanded="false">Спеціальна фізпідготовка</button>
        </div>
        <div class="btn-group" role="group1">
            <button class="btn btn-default dropdown-toggle my_way_sidebar_group_button" type="button"  aria-haspopup="true" aria-expanded="false">Загальна фізпідготовка</button>
        </div>
        <div class="btn-group" role="group1">
            <button class="btn btn-default dropdown-toggle my_way_sidebar_group_button" type="button"  aria-haspopup="true" aria-expanded="false">Розбивання предметів</button>
        </div>
    </div>
</div>
<!--<script async src="../../../../resources/frontend/workField/js/myWay.js"></script>-->
</body>
</html>
