@font-face {
    font-family: Ubuntu; /* Имя шрифта */
    src: url(../../libraries/fonts/Ubuntu-C.ttf); /* Путь к файлу со шрифтом */
}
body{
    background: url('../../workField/images/back.jpg');
    font-family: Ubuntu;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: auto;
}
.wrapper{
    height:100%;
    width: 100%;
    margin:0 auto;
    padding: 5% 0 0 0;
    font-size: 1.6rem
}

.log_in_field_main_logIn,
.log_in_field_main_logIn:focus
{
    background: #0a3f51;
    color: #fff;
}
.log_in_field_main_logIn:hover
{
    background: #1b6f8c;
    color:#fff;
}
.btn{
    font-size: 1.6rem;
}
.modal_header_logIn{
    margin:7px 10px 2px;
}
.modal_header_logIn_title{
    padding: 4px;
    text-align: center;
    margin-top: 15px;
    color: #fff;
    background-color: #337ab7;
    border-color: #286090;
    border-radius: 3px;
    font-size: 2.2rem;
}
.modal_header_logIn_title p{
    margin:0;
}
.modal_logIn_section{
    margin-top: 10px;
}
.modal_logIn_section_form_email{
    padding: 13px 0 0 0;
}
.modal_logIn_section_form_email .form-control-feedback{
    margin-top: 16px;
}
.modal_logIn_section_form_pass{
    padding:0 15px 0 0 ;
    margin-bottom: 0;
}
.modal_logIn_section_form_pass .form-control-feedback{
    margin: 3px 16px 0 0;
}
.modal_logIn_section_form_pass_forget{
    margin: 7% 0 0 0 ;
}
.modal_logIn_section_form_pass .help-block{
    margin: 5px 0 3px 0;
}
.modal_logIn_section_form_pass .help-block p {
    margin: 0;
}
.modal_logIn_section_form_rememberMe{
    padding:0;
}
.modal_logIn_section_form_rememberMe_text{
    padding: 0;
}
.modal_logIn_section_form_rememberMe_text h3{
    margin: 5px 0 10px 0;
}
.modal_logIn_section_form_rememberMe_checkbox{
    margin: 2.5% 0 0 16%;
}
.modal_logIn_section_form_rememberMe_checkbox .switch {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 20px;
}
.modal_logIn_section_form_rememberMe_checkbox .slider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: -4px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.modal_logIn_section_form_rememberMe_checkbox .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.modal_logIn_section_form_rememberMe_checkbox input:checked + .slider {
    background-color: #337ab7 ;
}

.modal_logIn_section_form_rememberMe_checkbox input:focus + .slider {
    box-shadow: 0 0 1px #286090;
}

.modal_logIn_section_form_rememberMe_checkbox input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(21px);
}
.modal_logIn_section_form_rememberMe_checkbox .slider.round {
    border-radius: 34px;
}

.modal_logIn_section_form_rememberMe_checkbox .slider.round:before {
    border-radius: 50%;
}
.modal_logIn_section_form .vk,
.modal_logIn_section_form .fb,
.modal_logIn_section_form .google_plus{
    margin-top: 7px;
    margin-bottom: 7px;
}
.modal_logIn_section_form .vk_button:hover,
.modal_logIn_section_form .vk_button:focus,
.modal_logIn_section_form .fb_button:hover,
.modal_logIn_section_form .fb_button:focus{
    background: #3b699c;
    color:#fff;
}

.modal_logIn_section_form .vk_button,
.modal_logIn_section_form .fb_button{
    background: #5e81a8;
    color: #fff;
    width: 100%;
}
.modal_logIn_section_form .google_plus_button:hover,
.modal_logIn_section_form .google_plus_button:focus{
    background: #f9f3f3;
    color: #d64136;
}
.modal_logIn_section_form .google_plus_button{
    background: #fff;
    color: #d64136;
    width: 100%;
}
.modal_logIn_section_form .vk_button img,
.modal_logIn_section_form .fb_button img,
.modal_logIn_section_form .google_plus_button img{
    height: 18px;
    margin: 0 4px 0 0;
}
/***************Форма Регистрации***********************/
.modal_signUp_section_form_name{
    padding:0;
}
.modal_header_signUp{
    margin:7px 10px 2px;
}
.modal_header_signUp_title{
    padding: 4px;
    text-align: center;
    margin-top: 15px;
    color: #fff;
    background-color: #337ab7;
    border-color: #286090;
    border-radius: 3px;
    font-size: 2.2rem;
}
.modal_header_signUp_title p{
    margin:0;
}
.modal_signUp_section{
    margin-top: 15px;
}
.modal_signUp_section_form_name,
.modal_signUp_section_form_surname{
    margin-bottom: 0;
}
.modal_signUp_section_form_name .form-control-feedback,
.modal_signUp_section_form_surname .form-control-feedback{
    margin-top: 3px;
}
.modal_signUp_section_form_email {
    margin-bottom:0;
}
.modal_signUp_section_form_email .form-control-feedback{
    margin: 3px 0 0 0;
}
.modal_signUp_section_form_confirm{
    padding:0;
}
.modal_signUp_section_form .vk,
.modal_signUp_section_form .fb,
.modal_signUp_section_form .google_plus{
    margin-top: 7px;
    margin-bottom: 7px;
}
.modal_signUp_section_form .vk_button:hover,
.modal_signUp_section_form .vk_button:focus,
.modal_signUp_section_form .fb_button:hover,
.modal_signUp_section_form .fb_button:focus{
    background: #3b699c;
    color:#fff;
}

.modal_signUp_section_form .vk_button,
.modal_signUp_section_form .fb_button{
    background: #5e81a8;
    color: #fff;
    width: 100%;
}
.modal_signUp_section_form .google_plus_button:hover,
.modal_signUp_section_form .google_plus_button:focus{
    background: #f9f3f3;
    color: #d64136;
}
.modal_signUp_section_form .google_plus_button{
    background: #fff;
    color: #d64136;
    width: 100%;
}
.modal_signUp_section_form .vk_button img,
.modal_signUp_section_form .fb_button img,
.modal_signUp_section_form .google_plus_button img{
    height: 18px;
    margin: 0 4px 0 0;
}
