<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Club List</title>
</head>
<body>
<a th:href="@{/admin/club/management}" >Club Management</a>
<br/>
<div class="clubList" th:unless="${#lists.isEmpty(clubList)}">
    
  <h2 >List of Club</h2>
  
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Club Name</th>
        <th>Address</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="club : ${clubList}">
        <td th:text="${club.clubId}"></td>
        <td th:text="${club.clubName}"></td>
        <td th:text="${club.address}"></td>
        <td><a th:href="@{/admin/club/edit/} + ${club.clubId}">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>