<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/fragments/head :: head('Бесіди')"></head>
<head>
    <!--СЮДА МОЖНО ДОБАВИТЬ ВСЁ, ЧЕГО НЕТУ В head.HTML-->
</head>
<body>
<div th:replace="home/fragments/body :: body(~{::main}, '', false, '')"></div>

<div th:remove="all">
    <main class="my-way-main"  th:fragment="main">
        <div class="chats-header">
            <a type="button" th:href="@{/home/messages/newChat}"><p>Розпочати бесіду</p></a>
        </div>
        <div class="markList" th:unless="${#lists.isEmpty(chatList)}">
            <div th:each="chat : ${chatList}"   >
                <form th:action="@{/home/messages/} + ${chat.chatId}" method="get">
                    <button class="btn btn-default  markList-item" type="submit"  aria-haspopup="true" aria-expanded="false">
                        <img class="col-xs-2" th:src="@{'data:image;base64,' + ${chat.sender.encodeFileToBase64Binary()}}" src="/resources/frontend/images/userIcon.png" alt="аватар юзера">
                        <p class="col-xs-8 markList-item-title" th:text="${chat.chatTitle}"></p>
                        <p class="col-xs-2 markList-item-time" th:text=
                                "${#dates.format(#dates.createNow(), 'dd-MM-yyyy') == #dates.format(chat.createdAt, 'dd-MM-yyyy')} ?
                                ${#dates.format(chat.createdAt, 'HH:mm')} :
                                ${#dates.format(chat.createdAt, 'dd-MM-yyyy HH:mm')}">2:23 PM</p>
                        <p class="col-xs-8 markList-item-message" th:text="${chat.sender.firstName} + ' ' + ${chat.sender.lastName} + ': ' + ${chat.content}">Last Message</p>
                    </button>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/home/messages/} + ${chat.chatId} + '/deleteChat'"><span class="alert glyphicon glyphicon-trash"></span></a>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>