<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My way</title>
	<link rel="stylesheet" href="/resources/frontend/reset.css">
	<link rel="stylesheet" href="/resources/frontend/peresvit.css">
</head>
<body >
<div class="wrapper">
<div class="wrapper-outer clearfix">
		<aside class="sideNav side-nav" id="slide-out" ><!--class sideNav is for sidebar-->
			<div class="logo-in-sidebar clearfix">
				<img src="/resources/frontend/image/logo-in-sidebar.png">
			</div>
			<nav class="menu-level1 tabs-in-sidebar" >
				<!--id="tabs-in-siderbar"-->
				<a class="btn-news" href="">Новини</a>
				<a class="btn-chat" href="">Обговорення</a>
				<a class="btn-messages" href="">Повiдомлення</a>
				<a class="btn-we" href="">Ми</a>
			</nav>
			<nav class="menu-level1">
				<a class="btn-our-events" href="#">Нашi подiї</a>
				<a class="btn-my-events" href="#">Мої подiї</a>
				<a class="btn-my-way" href="#">Мiй шлях</a>
				<nav class="menu-level2 show">
					<a href="">базова технiка</a>
					<a href="">базові тех.комплекси</a>
					<a href="">робота в парi</a>
					<a href="">спец. фізпідготовка</a>
					<a href="">загальна фiзична пiдготовка</a>
					<a href="">розбивання предметiв</a>
				</nav>
				<a class="btn-cabinet" href="">Особистий кабiнет</a>
			</nav>

			<div class="sponsor-logo-sidebar ">
				<div class="sponsor-logo-sidebar-text">
					<p>Cпонсор змагання</p>
					<a href="#">fightdante.com.ua</a>
				</div>
				<img src="/resources/frontend/image/sponsor-logo.png">
			</div>
		</aside>

	<div class="wrapper-inner Panel" > <!-- header+main, do not touch the Panel, Panel is for slideBar-->

		<header>
			<div class="logo-header-bar clearfix">
				<img class="logo-header-img" src="/resources/frontend/image/logo-mobile.png">
				<!--<div class="logo-header-text">-->
					<!--<p class="school">Школа Бойового Мистецтва</p>-->
					<!--<p class="peresvit">«ПЕРЕСВIТ»</p>-->
				<!--</div>-->
				<!--<span class="btn-open-menu toggle-button">&lt;!&ndash; do not touch toggle-button, this class is for Sidebar&ndash;&gt;-->
					<img data-activates="slide-out" class="btn-open-menu toggle-button" src="/resources/frontend/image/hamburger.png" alt="Вiдкрити меню">
				<!--</span>-->
			</div>

			<div class="banner-header">
				<a href="#">Реклама от Google Заголовок</a>
				<p>
					Небольшой текст-описание в несколько строк. И еще в несколько слов. Занимает это поле-площадку <a
						href="">arts.in.ua</a>
				</p>
			</div>

		</header>
		<div class="content">
			<nav class="tabs-in-main">
				<a class="tab-news" href="#">Новини</a>
				<a class="tab-chat" href="#">Обговорення</a>
				<a class="tab-messages" href="#">Повiдомлення</a>
				<a class="tab-we" href="#">Ми</a>
			</nav>
			<nav class="nav-path">
				<a class="nav-path-my-way" href="#">Мiй шлях</a>
				<span class="nav-path slash">&#8260;</span>
				<a class="nav-path-tech-complex" href="#">Базові технічні комплекси</a>
			</nav>
			<main>
				<div class="main-article-item">
					<p class="level1-active"><a href="#" class="level1">Подготовка к использованию техники разбивания предметов</a></p>
					<ol>
						<li><a href="#" class="level2">В чем важность техники разбивания</a></li>
						<li><a href="#" class="level2">Концентрирование</a></li>
						<li><a href="#" class="level2">Тренировка рук</a></li>
						<li><a href="#" class="level2">Выносливость</a></li>
						<li><a href="#" class="level2">Медитация</a></li>
						<li><a href="#" class="level2">Контроль дыхания и киай</a></li>
						<li><a href="#" class="level2">Упражнения на растяжк</a></li>
					</ol>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
				<div class="main-article-item">
					<p><a href="#" class="level1">Разбивание: техника с использованием ударов ногой</a></p>
				</div>
			</main>
		</div>
		<footer>
			<div class="copyright-footer">
				<span>&copy;2016 Пересвiт</span>
			</div>

			<div class="banner-footer">
				<a href="#">Реклама от Google Заголовок</a>
				<p>
					Небольшой текст-описание в несколько строк.
					<a href="">fight.in.ua</a>
				</p>
			</div>

			<div class="icons-footer">
				<a href=""><img src="/resources/frontend/image/fb.png"></a>
				<a href=""><img src="/resources/frontend/image/vk.png"></a>
				<a href=""><img src="/resources/frontend/image/insta.png"></a>
			</div>
		</footer>
	</div><!-- end of div.wrapper-inner -->

</div>  <!-- end of div.wrapper-outer clearfix -->

</div>
	 <script class="jquery" type="text/javascript" src="/resources/frontend/js/jquery-3.1.1.min.js"></script>
	<script src="/resources/frontend/js/sideBar.js"></script>
	<script type="text/javascript" src="/resources/frontend/js/peresvit.js"></script>
</body>
</html>