<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('Combat Art')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '','/admin/combatArt/')"></div>



<div th:remove="all">
    <div th:fragment="main">

        <form action="#" th:action="@{/admin/combatArt/}" th:object="${combatArt}" method="post">
            <input type="hidden" th:field="*{combatArtId}" />

            <input type="text" th:field="*{combatArtName}" placeholder="combatArt" /><br/>

            <input type="submit" />
        </form>

    </div>
</div>
</html>
