<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="btn-group-vertical btn-group-lg" role="group" aria-label="111" th:fragment="sideBar">
        <div class="btn-group" role="group">
            <form th:href="@{/home/workField}">
            <button class="btn btn-default btn-lg dropdown-toggle control_button sideFirst" type="submit"  aria-haspopup="true" aria-expanded="false">Особистий кабінет</button>
            </form>
        </div>
        <div class="btn-group " role="group">
            <form  th:action="@{/admin/resource/}">
            <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">Управління ресурсами</button>
            </form>
        </div>

        <div class="btn-group " role="group">
            <form  th:action="@{/admin/resourceGroup/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">ResourceGroups Management</button>
            </form>
        </div>

        <div class="btn-group " role="group">
            <form  th:action="@{/admin/resourceGroupType/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">ResourceGroupsType Management</button>
            </form>
        </div>
        <div class="btn-group " role="group">
            <form  th:action="@{/admin/rang/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">Управління рівнями</button>
            </form>
        </div>

        <div class="btn-group " role="group">
            <form  th:action="@{/admin/mark/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">Управління відзнаками</button>
            </form>
        </div>

        <div class="btn-group " role="group">
            <form  th:action="@{/admin/club/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">Управління клубами</button>
            </form>
        </div>

        <div class="btn-group " role="group">
            <form  th:action="@{/admin/city/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">Управління містами</button>
            </form>
        </div>

        <div class="btn-group " role="group">
            <form  th:action="@{/admin/combatArt/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">Управління Бойовими мистецтвами</button>
            </form>
        </div>

        <div class="btn-group " role="group">
            <form  th:action="@{/admin/user/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">Управління користувачами</button>
            </form>
        </div>

        <div class="btn-group " role="group">
            <form  th:action="@{/admin/article/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">Управління статтями</button>
            </form>
        </div>

        <div class="btn-group " role="group">
            <form  th:action="@{/admin/userGroup/management}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">Управління групами</button>
            </form>
        </div>

        <div class="btn-group" role="group">
            <form th:action="@{/panel/myevents}">
            <button class="btn btn-default btn-lg dropdown-toggle control_button" type="submit"  aria-haspopup="true" aria-expanded="false">мої події</button>
            </form>
        </div>
        <div class="btn-group myWayButton" role="group">
            <form th:action="@{/resource/myWay/1}">
            <button class="btn btn-default btn-lg dropdown-toggle control_button " type="submit"  aria-haspopup="true" aria-expanded="false">мій шлях</button>
            </form>
        </div>
        <div class="btn-group" role="group">
            <form th:action="@{/logout}">
                <button class="btn btn-default btn-lg dropdown-toggle control_button " type="submit"  aria-haspopup="true" aria-expanded="false">Вийти</button>
            </form>
            <!--<a class="btn btn-default btn-lg dropdown-toggle control_button sideLast" th:href="@{/logout}">Вийти</a>-->
        </div>
    </div>

</body>
</html>
