<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- <a th:href="@{/admin/resource/management}" >Resources Management</a>
<br/> -->
<a th:href="@{/admin/resourceGroup/management}" >ResourceGroups Management</a>
<br/>
<a th:href="@{/admin/resourceGroupType/management}" >ResourceGroupsType Management</a>
<br/>
<a th:href="@{/admin/rang/management}" >Rang Management</a>
<br/>
<a th:href="@{/admin/user/management}" >User Management</a>
<h3>For USER</h3>
<a th:href="@{/resource/myWay}" >My Way</a>
<br/>
<a th:href="@{/panel/myevents}" >My events</a>
<br/>
<br/>
<a th:href="@{/admin/event_edit}" > Edit events </a>
<br/>
</body>
</html>